
@{
    ViewData["Title"] = "Angular_comment_page";
}

<h1>Angular_comment_page</h1>
 


<app-root></app-root>
@section Scripts {
    @* angular提供 *@
   @*  <script src="~/node_modules/@@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js"></script>
    <script src="~/dist/main-client.js"></script> *@
    <script src="~/dist/fun-now-angular1/runtime.48f9e552146618a8.js" type="module"></script>
    <script src="~/dist/fun-now-angular1/polyfills.b6cd8ceb7f42859a.js" type="module"></script>
    <script src="~/dist/fun-now-angular1/main.f81e503038aad525.js" type="module"></script>

    <script>
        
            // 使用 Angular 路由导航到特定组件
         //window.location.href = '/platformcomment'; // 例如加载 PlatformComment 组件
   
    </script>
}