@{
    ViewData["Title"] = "thankyou";
    Layout = "_Layout_thankyou";
}

<main>
    <section class="left-section">
        <div class="contact-info p-4">
            <div class="contact-info-static mb-2">
                <div class="mb-2 d-flex align-items-center">
                    <img src="~/ou/image/checksign.png" alt="..." /><span style="font-size:1.5em; font-weight:700; display:inline-block; margin-left:10px;">感謝您的預訂</span>
                </div>
                <div class="mb-3">
                </div>
                <div class="d-flex justify-content-between">
                    <div style="width:100%;">
                        您的訂單可在預訂頁面及訂單確認信中查看，確認信將在10分鐘內發送給您。
                    </div>
                    <div style="text-align:end">
                        <img style="width:70%;" src="~/ou/image/thankyou.png" />
                    </div>
                </div>
                <div>
                    <a class="returnBack" href='@Url.Content("~/Home/Index")'>返回首頁</a>
                </div>
            </div>
        </div>
    </section>

</main>

@section Styles {
    <link rel="stylesheet" href="~/ou/css/paymentPage.css" />

}
@section Scripts {
    <script>
    </script>
}

