
@{
    ViewData["Title"] = "FunNow Home";
    Layout = "_Layout_HotelHome";
}

<div class="search__container">
    <div class="search__container__search">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="搜尋房源名稱或編號" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </div>
   <div class="me-3">
        <a href="@Url.Action("HotelInfo", "HotelCreate")" class="uploadButton">新增房源</a>
   </div>
</div>

<main>

    <div class="tab__container">
        <div class="tab__container__content d-flex align-items-center ms-4 mb-4 mt-4">
            <a href="#" id="showActive" class="tab__link">
                <span>已啟用</span>
            </a>
            <a href="#" id="showPending" class="tab__link">
                <span>審核中</span>
            </a>
        </div>
    </div>

    <div id="hotelContainers">
    </div>
 

</main>


@section Scripts {
    <script defer>
        const userId = @Model

        async function fetchAndDisplayHotels(isActive) {
            const res = await fetch(`https://localhost:7103/api/HostManage?userId=${userId}`);
            const data = await res.json();
            const filteredData = data.filter(item => item.isActive === isActive);
            const baseUrl = window.location.origin + '/HostManage/HostHotelInfo';

            let isReviewStr = "";
            filteredData.forEach(item => {
                let hotelInfoUrl = baseUrl + '/' + item.hotelId;

                let imageUrl;
                if (item.hotelImage.startsWith('http') || item.hotelImage.startsWith('https')) {
                    imageUrl = item.hotelImage;
                } else {
                    imageUrl = window.location.origin + '/' + item.hotelImage;
                }
                const statusClass = isActive ? 'active-status' : 'review-status';
                const statusText = isActive ? '已啟用' : '審核中';
                const linkClass = isActive ? '' : 'disabled-link';
                const ariaDisabled = isActive ? 'false' : 'true';
                isReviewStr += `
                    <div class="hotelCard mb-4">
                        <div class="d-flex align-items-center hotelCard__info">
                            <div>
                                <img src="${imageUrl}" alt="..." class="hotelCard__img" />
                            </div>
                            <div>
                                <div class="fw-bold">
                                    <span>[${item.hotelId}]</span>
                                    <span>${item.hotelName}</span>
                                </div>
                                <div>
                                    <span class="${statusClass}">${statusText}</span>
                                    <span class="city">${item.cityName},</span>
                                    <span class="country">${item.countryName}</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center ms-3 hotelCard__connect">
                                <a href="${hotelInfoUrl}" class="${linkClass}" aria-disabled="${ariaDisabled}">
                                <div>
                                    編輯物業
                                </div>
                            </a>
                            <a href="#"  class="${linkClass}" aria-disabled="${ariaDisabled}">
                                <div>
                                    行事曆
                                </div>
                            </a>
                            <a href="#"  class="${linkClass}" aria-disabled="${ariaDisabled}">
                                <div>
                                    訂單&收入
                                </div>
                            </a>
                        </div>
                    </div>
                    `;
            });
            $('#hotelContainers').html(isReviewStr);
        }



        function setActiveTab(isActive) {
            if (isActive) {
                $('#showActive').addClass('active');
                $('#showPending').removeClass('active');
            } else {
                $('#showActive').removeClass('active');
                $('#showPending').addClass('active');
            }
        }


        $('#showActive').on('click', () => {
            fetchAndDisplayHotels(true);
            setActiveTab(true);
        })

        $('#showPending').on('click', () => {
            fetchAndDisplayHotels(false);
            setActiveTab(false);
        })

        fetchAndDisplayHotels(false);
        setActiveTab(false);

    </script>
}
@section Styles {
    <link href="~/ou/css/HostManage.css" rel="stylesheet" />
}
