@{
    ViewData["Title"] = "註冊";
    Layout = "_Layout_login";
}

<meta charset="utf-8" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/9bbb5484f7.js" crossorigin="anonymous"></script>
<title>註冊</title>

<body>
   

    <!--表單欄-->
    <div class="container" style="margin-top:50px;">
        <div id="dd"></div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 " style="min-width: 350px; max-width: 500px;">
                <div class="card border-0 shadow rounded-3 my-5 ">
                    <div class="card-body p-4 p-sm-5 " style="white-space: nowrap;">
                        <h3 class="sc-fzqyvX kJWwZs kite-js-Typography ">免費入會</h3>
                        <p style="height:8px"></p>
                        <form>
                            <div class="mb-3">
                                <label for="FirstNameInput" class="form-label" style="font-size:15px">護照英文名</label>
                                <input type="text" class="form-control" id="FirstNameInput" name="FirstName" placeholder="護照英文名">
                                <p id="firstNameError" class="form-text text-danger" style="display: none;">請輸入有效的名字，，限英文，不得為特殊符號或中文</p>
                            </div>

                            <div class="mb-3">
                                <label for="LastNameInput" class="form-label" style="font-size:15px">護照英文姓</label>
                                <input type="text" class="form-control" id="LastNameInput" name="LastName" placeholder="護照英文姓">
                                <p id="lastNameError" class="form-text text-danger" style="display: none;">請輸入有效的姓氏，限英文，不得為特殊符號或中文</p>
                            </div>
                            <div class="mb-3">
                                <label for="EmailInput" class="form-label" style="font-size:15px">電子信箱</label>
                                <input type="email" class="form-control" id="EmailInput" name="Email" placeholder="電子信箱" onblur="validateEmail()" onchange="queryEmail()">
                                <p id="emailError" class="form-text text-danger" style="display: none;">電子信箱欄位不得為空白</p>
                                <p id="emailFormatError" class="form-text text-danger" style="display: none;">電子信箱格式不符，須包含@@及.，請重新確認</p>
                                <p id="resultYes" style="display:none" class="form-text text-danger">Oops！這個Email已經註冊過囉！</p>
                                <p id="resultNo" style="display:none" class="form-text text-success">Good！這個Email可以使用！</p>
                            </div>

                            <div class="mb-3">
                                <label for="PasswordInput" class="form-label" style="font-size:15px">密碼</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="PasswordInput" name="Password" placeholder="密碼" style="border-right:none;">
                                    <span class="input-group-text" id="togglePasswordIcon" style="background-color:white; border-left:none;">
                                        <i class="fa-solid fa-eye-slash"></i>
                                    </span>
                                </div>
                                <p id="passwordError" class="form-text text-danger" style="display: none;">請輸入有效的密碼。</p>
                            </div>
                            <div class="mb-3">
                                <label for="RecheckPasswordInput" class="form-label" style="font-size:15px">確認密碼</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="RecheckPasswordInput" placeholder="確認密碼" style="border-right:none;">
                                    <span class="input-group-text" id="toggleRecheckPasswordIcon" style="background-color:white; border-left:none;">
                                        <i class="fa-solid fa-eye-slash"></i>
                                    </span>
                                </div>
                                <p id="recheckpasswordError" class="form-text text-danger" style="display: none;">該欄位不得為空白</p>
                                <p id="passwordMismatchError" class="form-text text-danger" style="display: none;">兩次密碼輸入不同，請再次確認</p>
                            </div>
                            <p></p>

                            <div class="row ">
                                <div class="col-md-auto align-content-center ">
                                    <input for="link" class="form-check-input" type="checkbox" value="agree" id="agree" name="agree">
                                </div>
                                <div class="col-lg">
                                    <a class=" ff1">我同意透過各種管道接收有關FunNow及其行銷夥伴或業務合作夥伴的最新動態和促銷資訊。可隨時選擇退出。詳情請參閱隱私權政策。</a>
                                </div>
                            </div>

                            <p></p>

                            <div class="d-grid">
                                <button class="btn btn-secondary btn-login text-uppercase fw-bold"  id="buttonSubmit">加入會員</button>
                            </div>
                            <div id="message"></div>
                           <p></p>
                            <p style="margin:40px"></p>

                            <span class="line"></span>
                            <span>或用以下帳號登入</span>
                            <span class="line"></span>
                            <p></p>
                            <div class="d-grid mb-2">
                                <button class="btn btn-outline-danger fw-bold py-2 btn-zoom" type="submit">
                                    <i class="fab fa-google me-2"></i> Google
                                </button>
                            </div>
                            <div class="row">
                                <div class="col d-grid">
                                    <button class="btn btn-outline-primary fw-bold py-2 btn-zoom " type="submit">
                                        <i class="fab fa-facebook-f me-2"></i> Facebook
                                    </button>
                                </div>
                                <div class="col d-grid">
                                    <button class=" btn btn-outline-success fw-bold py-2 btn-zoom" type="submit">
                                        <i class="fa-brands fa-line"></i> Line
                                    </button>
                                </div>
                            </div>
                            <hr />
                            <div class="d-grid mb-2">
                                <a class="btn btn-outline-primary fw-bold py-2" href="/Member/Login" role="button">已經是會員?登入</a>
                            </div>
                            <p style="margin:30px"></p>
                            <p style="text-align: center; font-size:13px;">點擊登錄即代表我同意FunNow的<a class="col">服務條款</a>和<a class="col">隱私權政策</a>。</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>


@section Styles
{
    <style>
        body {
            background: #F9F9F9;
            /*background: linear-gradient(to right, #0062E6, #33AEFF);*/
        }

        .btn-login {
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            padding: 0.75rem 1rem;
            background-color: #5392F9;
            border: none;
        }

            .btn-login:hover {
                background-color: #87b3fb;
            }

        a:hover {
            color: #87b3fb;
        }

        .btn-google 
        {
            color: white !important;
            background-color: #ea4335;
        }

        .btn-facebook {
            color: white !important;
            background-color: #3b5998;
        }

        .btn-zoom 
        {
            transition: transform 0.3s ease; /* 添加过渡效果 */
        }

            .btn-zoom:hover 
            {
                transform: scale(1.02); /* 鼠标悬停时放大 1.1 倍 */
                
            }

        h3 {
            font-weight: 800;
        }

        .ff1 {
            font-size: 14px;
            white-space: normal;
            color: black;
            text-decoration: none;
        }

            .ff1:hover {
                text-decoration: none;
            }

        .line {
            display: inline-block;
            width: 120px;
            border-top: 1px solid #cccccc;
            vertical-align: 5px;
        }


        a {
            text-decoration: none;
        }

            a:hover {
                color: #87b3fb;
                text-decoration: underline;
            }


    </style>
}


@section Scripts
{
    <script>

        //【點選加入會員，註冊按鈕事件】
        const btnSubmit = document.querySelector('#buttonSubmit');

        btnSubmit.addEventListener('click', async (evt) => {
            evt.preventDefault(); //防止預設行為的發生


            // 檢查是不是有紅框錯誤
            const redBorderElements = document.querySelectorAll('.border-danger');
            if (redBorderElements.length > 0) {
                alert('有紅框處尚未修改，請再次確認');
                return;
            }

            // 檢查checkbox是否打勾
            const agreeCheckbox = document.querySelector('#agree');
            if (!agreeCheckbox.checked) {
                alert('請同意相關條款，並完成勾選');
                return;
            }

            // 收集使用者填寫的資料
            const inpFirstName = document.querySelector('#FirstNameInput').value;
            const inpLastName = document.querySelector('#LastNameInput').value;
            const inpEmail = document.querySelector('#EmailInput').value;
            const inpPwd = document.querySelector('#PasswordInput').value;

            const memberData =
            {
                "firstName": inpFirstName,
                "lastName": inpLastName,
                "email": inpEmail,
                "password": inpPwd,
            };

            //發送API請求
            try {
                const url = 'https://localhost:7103/api/Members';
                const response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify(memberData),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const messageElement = document.getElementById('message');

            if (response.ok) 
            {
               alert('註冊成功！帳號驗證信已寄至您的信箱，請至信箱查收～ ps若沒收到請檢查垃圾郵件！');
               window.location.href = "/Member/Login";
            }
            else 
            {
               alert('註冊失敗');
               const errorText = await response.text();
               messageElement.textContent = "驗證信寄送失敗";
               messageElement.style.color = 'red';
            }
            } catch (error) 
            {
                console.error('Error:', error);
                const messageElement = document.getElementById('message');
                messageElement.textContent = "錯誤發生，請再試一次!";
                messageElement.style.color = 'red';
            }
        });

        //【姓名欄位驗證】
        // 驗證輸入的值只能包含英文字
        function isValidName(name) {
            var regex = /^[A-Za-z]+$/;
            return regex.test(name);
        }

        // 驗證 FirstNameInput 欄位
        document.getElementById("FirstNameInput").addEventListener("blur", function () {
            var input = this.value.trim();
            var error = document.getElementById("firstNameError");
            if (input === "") {
                error.textContent = "該欄位不得為空白";
                error.style.display = "block";
                this.classList.add("border", "border-danger");
            } else if (!isValidName(input)) {
                error.textContent = "請輸入有效的名字，限英文，不得為特殊符號或中文";
                error.style.display = "block";
                this.classList.add("border", "border-danger");
            } else {
                error.style.display = "none";
                this.classList.remove("border", "border-danger");
            }
            
        });

        // 驗證 LastNameInput 欄位
        document.getElementById("LastNameInput").addEventListener("blur", function () {
            var input = this.value.trim();
            var error = document.getElementById("lastNameError");
            if (input === "") {
                error.textContent = "該欄位不得為空白";
                error.style.display = "block";
                this.classList.add("border", "border-danger");
            } else if (!isValidName(input)) {
                error.textContent = "請輸入有效的姓氏，限英文，不得為特殊符號或中文";
                error.style.display = "block";
                this.classList.add("border", "border-danger");
            } else {
                error.style.display = "none";
                this.classList.remove("border", "border-danger");
            }
           
        });


        //【密碼欄位驗證】
        document.getElementById("PasswordInput").addEventListener("blur", function () {
            var input = this.value.trim();
            var error = document.getElementById("passwordError");
            var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{6,}$/;

            if (input === "") {
                error.textContent = "密碼欄位不得為空白";
                error.style.display = "block";
                this.classList.add("border", "border-danger");
            } else if (!passwordPattern.test(input)) {
                error.textContent = "密碼至少6個字元，且需包含大小寫英文字母、數字、特殊符號";
                error.style.display = "block";
                this.classList.add("border", "border-danger");
            } else {
                error.style.display = "none";
                this.classList.remove("border", "border-danger");
            }
            
        });


        //【確認密碼欄位驗證】
        document.getElementById("RecheckPasswordInput").addEventListener("blur", function () {
            var passwordInput = document.getElementById("PasswordInput").value.trim();
            var recheckPasswordInput = this.value.trim();
            var recheckPasswordError = document.getElementById("recheckpasswordError");
            var passwordMismatchError = document.getElementById("passwordMismatchError");

            if (recheckPasswordInput === "") {
                recheckPasswordError.style.display = "block";
                passwordMismatchError.style.display = "none";
                this.classList.add("border", "border-danger");
            } else {
                recheckPasswordError.style.display = "none";
                this.classList.remove("border", "border-danger");

                if (recheckPasswordInput !== passwordInput) {
                    passwordMismatchError.style.display = "block";
                    this.classList.add("border", "border-danger");
                } else {
                    passwordMismatchError.style.display = "none";
                    this.classList.remove("border", "border-danger");
                }
            }
            
        });


        //【Email欄位驗證】
        function validateEmail() {
            var emailInput = document.getElementById("EmailInput");
            var email = emailInput.value.trim();
            var emailError = document.getElementById("emailError");

            // 隱藏錯誤訊息
            emailError.style.display = "none";

            // 檢查欄位是否為空
            if (email === "") {
                emailError.style.display = "block";
                emailInput.classList.add("border", "border-danger");
            }
        }

        async function queryEmail() {
            var emailInput = document.getElementById("EmailInput");
            var email = emailInput.value.trim();
            var emailFormatError = document.getElementById("emailFormatError");
            var resultElementY = document.getElementById("resultYes");
            var resultElementN = document.getElementById("resultNo");

            // 隱藏所有錯誤和結果訊息
            emailFormatError.style.display = "none";
            resultElementY.style.display = "none";
            resultElementN.style.display = "none";

            // 檢查Email格式(須包含@@、.)
            var emailPattern = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
            if (!emailPattern.test(email)) {
                emailFormatError.style.display = "block";
                emailInput.classList.add("border", "border-danger");
                return;
            }

            // 串接API比對Email是否重複
            try {
                const response = await fetch("https://localhost:7103/api/Members/query", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email: email })
                });
                const data = await response.json();
                if (data.message === "YES") {
                    resultElementY.style.display = "block";
                    emailInput.classList.add("border", "border-danger");
                } else {
                    emailInput.classList.remove("border", "border-danger");
                    resultElementN.style.display = "block";

                }
            } catch (error) {
                console.error('Error:', error);
            }
            
        }

        // 密碼欄位眼睛開關
        const togglePasswordIcon = document.getElementById('togglePasswordIcon');
        const passwordInput = document.getElementById('PasswordInput');

        togglePasswordIcon.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.querySelector('i').classList.toggle('fa-eye');
            this.querySelector('i').classList.toggle('fa-eye-slash');
        });

        // 確認密碼欄位眼睛開關
        const toggleRecheckPasswordIcon = document.getElementById('toggleRecheckPasswordIcon');
        const recheckPasswordInput = document.getElementById('RecheckPasswordInput');

        toggleRecheckPasswordIcon.addEventListener('click', function () {
            const type = recheckPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            recheckPasswordInput.setAttribute('type', type);
            this.querySelector('i').classList.toggle('fa-eye');
            this.querySelector('i').classList.toggle('fa-eye-slash');
        });

    </script>
}
