@model IEnumerable<PrjFunNowWeb.ViewModels.OrderViewModel>


@section Styles {
    <style>

        .container {
            width: 80%;
            margin-top: 50px;
        }

        .centered-container {
            text-align: center;
        }
    </style>
}

<div class="container">
    <div class="container">
        <h3>口袋清單</h3>
    </div>
    <br />
    <br />
    <br />
    <div class="centered-container">
        <div>你的口袋清單空空的...</div>
        <div>
            <img src="~/image/julia/noFavorite.png" alt="口袋清單空空的">
        </div>
        <br />
        <br />
        <div>
            <button type="button" class="btn btn-primary">返回</button>
        </div>
    </div>

</div>

@section Scripts {


}





