
@{
    ViewData["Title"] = "pgBack_Member";
}
@{
    Layout = "~/Views/Shared/_Layout_platform.cshtml";
}


@*     <div class="container mt-5">
        <h3>會員管理</h3>
    </div>

    <!--篩選選單-->

    <div class="container mt-3 d-flex flex-row ">
        <div class="input-group width px-3">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option selected>標題</option>
                <option value="1">訂單相關</option>
                <option value="2">訂單相關</option>
            </select>
        </div>
        <div class="input-group width px-3">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option selected>副標題</option>
                <option value="1">住客評語</option>
                <option value="2">住客評語</option>
            </select>
        </div>
        <div class=" px-3">
            <!--<i class="fa-regular fa-calendar"></i>-->
            <input type="text" class="form-control" value="開始日期" />
        </div>
        <div class=" pe-3">
            <!--<i class="fa-regular fa-calendar"></i>-->
            <input type="text" class="form-control" value="結束日期" />
        </div>
        <div class="ms-5">
            <span>
                <input type="text" class="form-control dispaly" id="searchBar" aria-label="" placeholder="輸入文字">
            </span>
        </div>
        <div>
            <input type="button" class="btn btn-outline-primary dispaly" id="searchBtn" value="搜尋">
        </div>
    </div>

    <!--篩選標籤-->
    <div class="container mt-3">

        <div class="d-flex justify-content-start mt-3 ">
            <div>
                <a class="d-flex justify-content-center filterborder p-1 text-decoration-none" href="#!">
                    全部
                    <div class="ms-1">
                        <span class="badge rounded-pill badge-notification bg-primary">1</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="d-flex justify-content-center filterborder p-1 text-decoration-none" href="#!">
                    已審核
                    <div class="ms-1">
                        <span class="badge rounded-pill badge-notification bg-primary">5</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="d-flex justify-content-center filterborder p-1 text-decoration-none" href="#!">
                    未審核
                    <div class="ms-1">
                        <span class="badge rounded-pill badge-notification bg-primary">1</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="d-flex justify-content-center filterborder p-1 text-decoration-none" href="#!">
                    審核中
                    <div class="ms-1">
                        <span class="badge rounded-pill badge-notification bg-primary">1</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="d-flex justify-content-center filterborder p-1 text-decoration-none" href="#!">
                    審核不通過
                    <div class="ms-1">
                        <span class="badge rounded-pill badge-notification bg-primary">1</span>
                    </div>
                </a>
            </div>
        </div>


    </div>

    <!--資料表格-->
    <div class="container mt-5">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>住宿ID</td>
                    <td>全名</td>
                    <td>Email</td>
                    <td>電話</td>
                    <td>標題</td>
                    <td>副標題</td>
                    <td>訊息</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>100012</td>
                    <td>Jonh Doe</td>
                    <td>jonhdoe@gmail.com</td>
                    <td>+886912345678</td>
                    <td>評論相關</td>
                    <td>住客評語</td>
                    <td><input id="btn1" type="button" value="詳細" /> </td>
                </tr>
                <tr>
                    <td>100015</td>
                    <td>Jane Doe</td>
                    <td>janedoe@gmail.com</td>
                    <td>+886912345679</td>
                    <td>評論相關</td>
                    <td>住客評語</td>
                    <td><input id="btn2" type="button" value="詳細" /></td>
                </tr>
                <tr>
                    <td>100100</td>
                    <td>Michael</td>
                    <td>michael@gmail.com</td>
                    <td>+886912346579</td>
                    <td>評論相關</td>
                    <td>住客評語</td>
                    <td><input id="btn3" type="button" value="詳細" /></td>
                </tr>
            </tbody>
        </table>


    </div> *@



@section Styles {
    <style>

       /*  .filterborder {
            border: 1px solid #0072E3;
            border-radius: 20px;
            margin-right: 20px;
        }

        .width {
            width: 15%;
        } */
    </style>
}
@section Scripts {
    <script>

    </script>
}














