
@{
    ViewData["Title"] = "pgBack_PowerBI";
}
@{
    Layout = "~/Views/Shared/_Layout_platform.cshtml";
}

<h1></h1>


@section Styles {
    <style>
        .cintainer{
            width:70%;
            margin-left:275px;
        }

    </style>
}
 
<iframe class="cintainer" title="第一組powerBI(期末)" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNWI0ZWQzOWYtNmI3MS00MjhjLTllZjQtNDNkMTQ5Y2I0MjZlIiwidCI6ImRhMTQwYTU1LWEzZWMtNDlkZS04ODllLTkzYzRlMTQyYTJmYiIsImMiOjEwfQ%3D%3D&pageName=ReportSection7fdd8753b0db414c479c" frameborder="0" allowFullScreen="true"></iframe>


@section Scripts {
    <script src="~/dist/fun-now-angular1/main.2bf3713033179a89.js"></script>
    <script src="~/dist/fun-now-angular1/polyfills.b6cd8ceb7f42859a.js"></script>
    <script src="~/dist/fun-now-angular1/runtime.38416f8cc614bfd6.js"></script>
    <script src="~/dist/fun-now-angular1/scripts.6fe6725b87f2ceac.js"></script>

    <script>












    </script>
}