@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "Index";
    Layout = "_Layout";
}
@section Styles{
    <style>


        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-toggle1 {
            padding: 15px 20px;
            font-size: 18px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 300px;
        }

            .dropdown-toggle1 i {
                margin-left: 10px;
            }

        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            width: 100%;
            padding: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

            .dropdown-menu.active {
                display: block;
            }

        .dropdown-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
        }

            .dropdown-item label {
                font-size: 16px;
                margin: 0;
            }

            .dropdown-item .quantity-control {
                display: flex;
                align-items: center;
            }

                .dropdown-item .quantity-control button {
                    border: none;
                    background: none;
                    font-size: 18px;
                    padding: 5px;
                    cursor: pointer;
                    outline: none;
                }

                .dropdown-item .quantity-control span {
                    margin: 0 10px;
                    font-size: 16px;
                }

        .dropdown-toggle1:hover,
        .dropdown-toggle1:focus {
            border-color: #007bff;
            box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
        }

        .children-hint {
            font-size: 12px;
            color: #888;
            display: block; /* 將提示文本設置為塊級元素 */
        }

        .search-container {
            position: relative;
            display: flex;
            width: 100%; /* Adjust width as needed */
            margin: 20px auto;
        }

        #search-input {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .search-icon {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            font-size: 18px;
            color: #999;
        }

        /* Style the search icon when focused */
        #search-input:focus + .search-icon {
            color: #000;
        }


    </style>
}

@section Scripts{    
    <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.js"></script>

    <script>
        const btnSubmit = document.querySelector('#buttonSubmit');

        btnSubmit.addEventListener('click', async () => {
            const inputkeyword = document.querySelector('#search-input').value;
            const inputDatestart = document.querySelector('#myDatepickerstart').value;
            const inputDateend = document.querySelector('#myDatepickerend').value;
            const inputadults = parseInt(document.querySelector('#adults').textContent);
            const inputchildren = parseInt(document.querySelector('#children').textContent);

            const searchHotel = {
                "keyword": inputkeyword,
                "checkInDate": inputDatestart,
                "checkOutDate": inputDateend,
                "adults": inputadults,
                "children": inputchildren
            };
            console.log(searchHotel);


            const url = 'https://localhost:7103/api/HotelSearch/indexsearch';
            const response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify(searchHotel),
                headers: {
                    'Content-Type': 'application/json'
                }
            }); // 此處添加了右括號
            const data = await response.json();
            console.log(data);

        });
    </script>




    <script>
        const cn1 = {
            days: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
            daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            today: '今天',
            clear: '清除',
            dateFormat: 'yyyy-MM-dd',
            timeFormat: 'hh:mm aa',
            firstDay: 0
        }

        const datepicker = new AirDatepicker('#myDatepicker', {
            locale: cn1,
            range: true,
            multipleDatesSeparator: ' - ',
            onSelect({ formattedDate, date }) {
                document.getElementById('myDatepicker').value = "請確認訂房日期";
                if (date.length === 2) {
                    document.getElementById('myDatepickerstart').value = `${formattedDate[0]}`;
                    document.getElementById('myDatepickerend').value = `${formattedDate[1]}`;
                } else {
                    document.getElementById('myDatepickerstart').value = '';
                    document.getElementById('myDatepickerend').value = '';
                }
            }
        });
    </script>

    <script>
        function toggleDropdown() {
            var dropdownMenu = document.getElementById("dropdownMenu");
            if (dropdownMenu.style.display === "none" || dropdownMenu.style.display === "") {
                dropdownMenu.style.display = "block";
                document.addEventListener('click', handleOutsideClick);
            } else {
                dropdownMenu.style.display = "none";
                document.removeEventListener('click', handleOutsideClick);
            }
        }

        function changeQuantity(type, value) {
            var element = document.getElementById(type);
            var currentValue = parseInt(element.textContent);
            var newValue = currentValue + value;
            if (newValue >= 0) {
                element.textContent = newValue;
            }
            updateDropdownText();
        }

        function updateDropdownText() {
            var rooms = document.getElementById("rooms").textContent;
            var adults = document.getElementById("adults").textContent;
            var children = document.getElementById("children").textContent;
            var dropdownToggle = document.querySelector(".dropdown-toggle1 span");
            dropdownToggle.textContent = rooms + " 客房, " + adults + " 成人, " + children + " 小童";
        }

        function handleOutsideClick(event) {
            var dropdownContainer = document.querySelector('.dropdown-container');
            var dropdownMenu = document.getElementById('dropdownMenu');

            if (dropdownContainer && !dropdownContainer.contains(event.target)) {
                dropdownMenu.style.display = 'none';
                document.removeEventListener('click', handleOutsideClick);
            }
        }

    </script>



}

<!--================Header Area ===================-->
<!--================搜尋訂房欄(固定式) Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6></h6>
                <br /><br /><br /><br /><br />
                <h2 style="color:darkcyan">FunNow 給你家的感覺</h2>
                <p>
                    <br>
                </p>
            </div>
        </div>
    </div>
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table" style="margin-bottom:-100px;height:300px;border-radius:20px ">
                <div class="col-md-3">
                    <h2>
                        Book
                        <br> Your Room
                    </h2>
                </div>
                <div class="col-md-9">
                    <div class="boking_table">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="search-container">
                                    <input type="text" id="search-input" placeholder="Enter your search term" style="width:500px">
                                </div>
                            </div>
                         <div class="row">
                            <div class="col-md-6">
                                <div class="book_tabel_item" style="margin-left:30px">
                                    <div class="form-group">
                                        <div class='input-group '>
                                            <!-- Air datepicker Html element -->
                                            <input type="text" id="myDatepicker" placeholder="選擇日期範圍">
                                            <!-- Air datepicker JavaScript-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class='input-group ' >
                                            <!-- Air datepicker Html element -->
                                            <input id="myDatepickerstart" placeholder="開始日期">
                                            <!-- Air datepicker JavaScript-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class='input-group ' >
                                            <!-- Air datepicker Html element -->
                                            <input id="myDatepickerend" placeholder="結束日期">
                                            <!-- Air datepicker JavaScript-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">                    
                                 <div class="book_tabel_item">
                                    <div class="dropdown">
                                        <div class="dropdown-toggle1" onclick="toggleDropdown()">
                                            <span>請選擇人數及房數</span>
                                        </div>
                                        <div class="dropdown-menu" id="dropdownMenu">
                                            <div class="dropdown-item">
                                                <label for="rooms">客房</label>
                                                <div class="quantity-control">
                                                    <button onclick="changeQuantity('rooms', -1)">-</button>
                                                    <span id="rooms">1</span>
                                                    <button onclick="changeQuantity('rooms', 1)">+</button>
                                                </div>
                                            </div>
                                            <div class="dropdown-item">
                                                <label for="adults">成人</label>
                                                <div class="quantity-control">
                                                    <button onclick="changeQuantity('adults', -1)">-</button>
                                                    <span id="adults">2</span>
                                                    <button onclick="changeQuantity('adults', 1)">+</button>
                                                </div>
                                            </div>
                                            <div class="dropdown-item">
                                                <label for="children">
                                                    小童
                                                    <span class="children-hint">(12歲以下)</span>
                                                </label>
                                                <div class="quantity-control">
                                                    <button onclick="changeQuantity('children', -1)">-</button>
                                                    <span id="children">0</span>
                                                    <button onclick="changeQuantity('children', 1)">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="container">
                        <div>
                            <div class='col-md-6 offset-md-1 text-center'>
                                <div>
                                    <a class="book_now_btn button_hover" href="#" style="border-radius:20px;" id="buttonSubmit">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================搜尋訂房欄(固定式)  Area =================-->
<!--================ 台灣熱門城市 Area  =================-->
<section class="accomodation_area section_gap">

    <br /><br /><br /><br />


    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">台灣熱門城市</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, </p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/ming_img/room1.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="#">
                        <h4 class="sec_h4">台北市</h4>
                    </a>
                    <h5>
                        共有888間
                        <small>/僅剩10間</small>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/ming_img/room2.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="#">
                        <h4 class="sec_h4">台中市</h4>
                    </a>
                    <h5>
                        共有888間
                        <small>/僅剩10間</small>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/ming_img/room3.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="#">
                        <h4 class="sec_h4">高雄市</h4>
                    </a>
                    <h5>
                        共有888間
                        <small>/僅剩10間</small>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/ming_img/room4.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="#">
                        <h4 class="sec_h4">花蓮市</h4>
                    </a>
                    <h5>
                        共有888間
                        <small>/僅剩10間</small>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ 台灣熱門城市 Area  =================-->
<!--================ 精選特色 Area  =================-->
<section class="accomodation_area section_gap">


    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">精選特色區</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, </p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/ming_img/room1.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="#">
                        <h4 class="sec_h4">台北市</h4>
                    </a>
                    <h5>
                        共有888間
                        <small>/僅剩10間</small>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/ming_img/room2.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="#">
                        <h4 class="sec_h4">台中市</h4>
                    </a>
                    <h5>
                        共有888間
                        <small>/僅剩10間</small>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/ming_img/room3.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="#">
                        <h4 class="sec_h4">高雄市</h4>
                    </a>
                    <h5>
                        共有888間
                        <small>/僅剩10間</small>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/ming_img/room4.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="#">
                        <h4 class="sec_h4">花蓮市</h4>
                    </a>
                    <h5>
                        共有888間
                        <small>/僅剩10間</small>
                    </h5>
                </div>
            </div>
        </div>
        <br />
        <div class="row mb_30">
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/ming_img/room1.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="#">
                        <h4 class="sec_h4">台北市</h4>
                    </a>
                    <h5>
                        共有888間
                        <small>/僅剩10間</small>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/ming_img/room2.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="#">
                        <h4 class="sec_h4">台中市</h4>
                    </a>
                    <h5>
                        共有888間
                        <small>/僅剩10間</small>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/ming_img/room3.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="#">
                        <h4 class="sec_h4">高雄市</h4>
                    </a>
                    <h5>
                        共有888間
                        <small>/僅剩10間</small>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/image/ming_img/room4.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="#">
                        <h4 class="sec_h4">花蓮市</h4>
                    </a>
                    <h5>
                        共有888間
                        <small>/僅剩10間</small>
                    </h5>
                </div>
            </div>
        </div>


    </div>
</section>
<!--================ 精選特色 Area  =================-->
<!--================ 推薦旅遊去處 Area  =================-->
<section id='latest'>

    <div class="container">
        <div class='row'>
            <div class='col-md-12 text-center'>
                <h3>推薦下一站旅遊去處</h3>
                <div class='row'>
                    <div class='col-md-2 text-left'>
                        <div class='outer'>
                            <a href='single.html'>
                                <div class='upper'>
                                    <img src='~/image/ming_img/room1.jpg'>
                                    <div class='innertext'>
                                        <span>可報名</span>
                                        <h6>男：HKD380  女：HKD280</h6>
                                    </div>
                                </div>
                                <div class='lower'>
                                    <h5>狂歡派對（旅行篇） - 11月</h5>
                                    <span><i class="fas fa-map-marker-alt"></i> 香港銅鑼灣怡和街2-6號 英光大廈 7樓全層</span>
                                    <br>
                                    <span><i class="far fa-clock"></i> Nov 03, 2018 08:00PM</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class='col-md-2 text-left'>
                        <div class='outer'>
                            <a href='single.html'>
                                <div class='upper'>
                                    <img src='~/image/ming_img/room2.jpg'>
                                    <div class='innertext'>
                                        <span>可報名</span>
                                        <h6>男：HKD380  女：HKD280</h6>
                                    </div>
                                </div>
                                <div class='lower'>
                                    <h5>狂歡派對（旅行篇） - 11月</h5>
                                    <span><i class="fas fa-map-marker-alt"></i> 香港銅鑼灣怡和街2-6號 英光大廈 7樓全層</span>
                                    <br>
                                    <span><i class="far fa-clock"></i> Nov 03, 2018 08:00PM</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class='col-md-2 text-left'>
                        <div class='outer'>
                            <a href='single.html'>
                                <div class='upper'>
                                    <img src='~/image/ming_img/room1.jpg'>
                                    <div class='innertext'>
                                        <span>可報名</span>
                                        <h6>男：HKD380  女：HKD280</h6>
                                    </div>
                                </div>
                                <div class='lower'>
                                    <h5>狂歡派對（旅行篇） - 11月</h5>
                                    <span><i class="fas fa-map-marker-alt"></i> 香港銅鑼灣怡和街2-6號 英光大廈 7樓全層</span>
                                    <br>
                                    <span><i class="far fa-clock"></i> Nov 03, 2018 08:00PM</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class='col-md-2 text-left'>
                        <div class='outer'>
                            <a href='single.html'>
                                <div class='upper'>
                                    <img src='~/image/ming_img/room2.jpg'>
                                    <div class='innertext'>
                                        <span>可報名</span>
                                        <h6>男：HKD380  女：HKD280</h6>
                                    </div>
                                </div>
                                <div class='lower'>
                                    <h5>狂歡派對（旅行篇） - 11月</h5>
                                    <span><i class="fas fa-map-marker-alt"></i> 香港銅鑼灣怡和街2-6號 英光大廈 7樓全層</span>
                                    <br>
                                    <span><i class="far fa-clock"></i> Nov 03, 2018 08:00PM</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class='col-md-2 text-left'>
                        <div class='outer'>
                            <a href='single.html'>
                                <div class='upper'>
                                    <img src='~/image/ming_img/room2.jpg'>
                                    <div class='innertext'>
                                        <span>可報名</span>
                                        <h6>男：HKD380  女：HKD280</h6>
                                    </div>
                                </div>
                                <div class='lower'>
                                    <h5>狂歡派對（旅行篇） - 11月</h5>
                                    <span><i class="fas fa-map-marker-alt"></i> 香港銅鑼灣怡和街2-6號 英光大廈 7樓全層</span>
                                    <br>
                                    <span><i class="far fa-clock"></i> Nov 03, 2018 08:00PM</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class='col-md-2 text-left'>
                        <div class='outer'>
                            <a href='single.html'>
                                <div class='upper'>
                                    <img src='~/image/ming_img/room3.jpg'>
                                    <div class='innertext'>
                                        <span>可報名</span>
                                        <h6>男：HKD380  女：HKD280</h6>
                                    </div>
                                </div>
                                <div class='lower'>
                                    <h5>狂歡派對（旅行篇） - 11月</h5>
                                    <span><i class="fas fa-map-marker-alt"></i> 香港銅鑼灣怡和街2-6號 英光大廈 7樓全層</span>
                                    <br>
                                    <span><i class="far fa-clock"></i> Nov 03, 2018 08:00PM</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--================ 推薦旅遊去處 Area  =================-->
<!--================ Facilities Area  =================-->
<section class="facilities_area section_gap">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
    </div>
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_w">Royal Facilities</h2>
            <p>Who are in extremely love with eco friendly system.</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4">
                        <i class="lnr lnr-dinner"></i>Restaurant
                    </h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4">
                        <i class="lnr lnr-bicycle"></i>Sports CLub
                    </h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4">
                        <i class="lnr lnr-shirt"></i>Swimming Pool
                    </h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4">
                        <i class="lnr lnr-car"></i>Rent a Car
                    </h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4">
                        <i class="lnr lnr-construction"></i>Gymnesium
                    </h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4">
                        <i class="lnr lnr-coffee-cup"></i>Bar
                    </h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Facilities Area  =================-->
<!--================ About History Area  =================-->
<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">
                        About Us
                        <br>Our History
                        <br>Mission & Vision
                    </h2>
                    <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                    <a href="#" class="button_hover theme_btn_two">Request Custom Price</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="~/image/ming_img/about_bg.jpg" alt="img">
            </div>
        </div>
    </div>
</section>
<!--================ About History Area  =================-->
<!--================ Testimonial Area  =================-->
<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Testimonial from our Clients</h2>
            <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
        </div>
        <div class="testimonial_slider owl-carousel">
            <div class="media testimonial_item">
                <img class="rounded-circle" src="~/image/ming_img/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#">
                        <h4 class="sec_h4">Fanny Spencer</h4>
                    </a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="~/image/ming_img/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#">
                        <h4 class="sec_h4">Fanny Spencer</h4>
                    </a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="~/image/ming_img/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#">
                        <h4 class="sec_h4">Fanny Spencer</h4>
                    </a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="~/image/ming_img/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#">
                        <h4 class="sec_h4">Fanny Spencer</h4>
                    </a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Testimonial Area  =================-->
<!--================ Latest Blog Area  =================-->
<section class="latest_blog_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">latest posts from blog</h2>
            <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="single-recent-blog-post">
                    <div class="thumb">
                        <img class="img-fluid" src="~/image/ming_img/blog/blog-1.jpg" alt="post">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <a href="#" class="button_hover tag_btn">Travel</a>
                            <a href="#" class="button_hover tag_btn">Life Style</a>
                        </div>
                        <a href="#">
                            <h4 class="sec_h4">Low Cost Advertising</h4>
                        </a>
                        <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.</p>
                        <h6 class="date title_color">31st January,2018</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-recent-blog-post">
                    <div class="thumb">
                        <img class="img-fluid" src="~/image/ming_img/blog/blog-2.jpg" alt="post">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <a href="#" class="button_hover tag_btn">Travel</a>
                            <a href="#" class="button_hover tag_btn">Life Style</a>
                        </div>
                        <a href="#">
                            <h4 class="sec_h4">Creative Outdoor Ads</h4>
                        </a>
                        <p>Self-doubt and fear interfere with our ability to achieve or set goals. Self-doubt and fear are</p>
                        <h6 class="date title_color">31st January,2018</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-recent-blog-post">
                    <div class="thumb">
                        <img class="img-fluid" src="~/image/ming_img/blog/blog-3.jpg" alt="post">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <a href="#" class="button_hover tag_btn">Travel</a>
                            <a href="#" class="button_hover tag_btn">Life Style</a>
                        </div>
                        <a href="#">
                            <h4 class="sec_h4">It S Classified How To Utilize Free</h4>
                        </a>
                        <p>Why do you want to motivate yourself? Actually, just answering that question fully can </p>
                        <h6 class="date title_color">31st January,2018</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Recent Area  =================-->
