@{
    ViewData["Title"] = "Home Page2";
    Layout = "_Layout_index2";
}

<br />
<!--================ 台灣熱門城市 Area  =================-->
<section class="accomodation_area section_gap">

    <br /><br /><br /><br />


    <div class="container">
        <div class="row mb_30">
            <div class="col-lg-3 col-sm-6" ">
            @* //畫面靠左 3/12 位置 *@
                <div class="hotel_img">
                    <img src="image/ming_img/map.png" alt="">
                    <a href="#" class="btn theme_btn button_hover"></a>
                </div>

                <div>
                    <a class="book_now_btn button_hover" href="#" style="border-radius: 20px;background: #F0F0F0; text-align:left">
                        <img src="image/ming_img/search.png" alt="">搜尋關鍵字
                    </a>
                </div>
                <br />
                <p style="margin:0px 10px">每晚預算</p>

                <!--//價格搜尋拉霸start-->
                <div class="slider-container" style="margin: 10px">
                    <div class="range-slider" id="rangeSlider" min="500" max="10000">
                        <div class="slider-handle lower-handle" id="lowerHandle"></div>
                        <div class="slider-handle upper-handle" id="upperHandle"></div>
                    </div>
                    <div class="label-container">
                        <span id="lowerLabel">下限：500</span>
                        <span id="upperLabel">上限：10000</span>
                    </div>
                    <div class="input-container" ;">
                        <input type="number" id="lowerInput" value="500" style="margin-right: 10px;">
                        <input type="number" id="upperInput" value="500">
                    </div>
                </div>
                <!--//價格搜尋拉霸end-->
                <br />
                <br />


                <!--//住宿類型Start-->
                <div style="margin:20px 10px">
                    <p>住宿類型</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                </div>
                <!--//住宿類型END-->
                <hr />

                <!--//星級start-->
                <div style="margin:20px 10px">
                    <p>星級</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                </div>
                <!--//星級End-->
                <hr />

                <!--//區域start-->
                <div style="margin:20px 10px">
                    <p>區域</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                </div>
                <!--//區域End-->
                <hr />

                <!--//房型優惠start-->
                <div style="margin:20px 10px">
                    <p>房型優惠</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                </div>
                <!--//房型優惠End-->
                <hr />

                <!--//住宿設施start-->
                <div style="margin:20px 10px">
                    <p>住宿設施</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                </div>
                <!--//住宿設施End-->
                <hr />

                <!--//熱門景點start-->
                <div style="margin:20px 10px">
                    <p>熱門景點</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>
                </div>
                <!--//熱門景點End-->
                <hr />


            </div>

            <div class="col-lg-9 col-sm-12">
            @* //畫面靠右 9/12 位置 *@
                <div class="col-lg-12" style="border:1px solid gray">
                    <div class="row" id="showhotels">
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ 台灣熱門城市 Area  =================-->
@section Scripts {
    <script>

        const divHotels = document.querySelector('#showhotels')
        const searchHotel = {
            "memberId": 1,
            "hotelId": 0,
            "keyword": ""
        };

        (async () => {
            const url = 'https://localhost:7103/api/HotelSearch'; //後端伺服器的 API 端點網址
            const response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify(searchHotel),//將要傳送給後端伺服器的資料 searchData 轉換為 JSON 字串格式
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const data = await response.json();
            console.log(data);

            const hotels = data.hotelsResult.map(hotel => {
                const { hotelName, hotelAddress, hotelPhone, hotelDescription, countryName, hotelEquipmentName, hotelImage, levelStar, hotelMaximumOccupancy, hotelPrice } = hotel;
                return (`
                         <div class="col-lg-4 col-sm-8" style="padding:0px"> @* //圖片位置 *@
                            <table>
                               <tr>
                                  <td colspan="3"><img src="${hotelImage}" class="img-fluid" style="width:100%" /></td>
                               </tr>
                               <tr>
                                  <td><img src="image/ming_img/room1.jpg" class="img-fluid" /></td>
                                  <td><img src="image/ming_img/room3.jpg" class="img-fluid" /></td>
                                  <td><img src="image/ming_img/room4.jpg" class="img-fluid" /></td>
                               </tr>
                            </table>
                          </div>

                          <div class="col-lg-5 col-sm-10" style="border:1px solid gray">
                                     <h3>${hotelName}</h3>
                                     <span>${levelStar}星級飯店 </span><span style="color:blue">${hotelAddress}</span>
                                     <h6>此住宿提供:</h6>
                                     <h5 style="border: 1px solid black;display: inline-block;">${hotelEquipmentName}</h5>
                                     </br>
                                     <h5 style="border: 1px solid black;display: inline-block;">設施2</h5>
                                     </br>
                                     <h5 style="border: 1px solid black;display: inline-block;">設施3</h5>
                                     </br>
                                     <h6 style="color:green">${levelStar}星級飯店最優價</h6>
                                     <h6 style="color:red">昨天起已收到${levelStar}張訂單</h6>
                          </div>

                          <div class="col-lg-3 col-sm-12" style="border:1px solid gray;text-align: right">
                             <h5>很出色</h5>
                             <h6 style="color:gray"> 個評分</h6>
                             </br>
                             <h6 style="border: 1px solid red;display:inline-block;background-color: red;color:white">優惠只剩1間</h6>
                             <h6 style="color:gray">每晚價格(不連稅及其他費用)</h6>
                             </br>
                             </br>
                             <h3>NT$${hotelPrice}</h3>

                          </div>  `)
            });

            divHotels.innerHTML = hotels.join("");

        })();



        document.addEventListener('DOMContentLoaded', function () {
            const rangeSlider = document.getElementById('rangeSlider');
            const lowerHandle = document.getElementById('lowerHandle');
            const upperHandle = document.getElementById('upperHandle');
            const lowerLabel = document.getElementById('lowerLabel');
            const upperLabel = document.getElementById('upperLabel');
            const lowerInput = document.getElementById('lowerInput');
            const upperInput = document.getElementById('upperInput');

            let isLowerDragging = false;
            let isUpperDragging = false;

            lowerHandle.addEventListener('mousedown', () => {
                isLowerDragging = true;
            });

            upperHandle.addEventListener('mousedown', () => {
                isUpperDragging = true;
            });

            document.addEventListener('mouseup', () => {
                isLowerDragging = false;
                isUpperDragging = false;
            });

            document.addEventListener('mousemove', (event) => {
                if (isLowerDragging) {
                    handleDrag(event, lowerHandle, lowerLabel, upperLabel, lowerInput, upperInput);
                } else if (isUpperDragging) {
                    handleDrag(event, upperHandle, upperLabel, lowerLabel, lowerInput, upperInput);
                }
            });

            function handleDrag(event, handle, label, oppositeLabel, lowerInput, upperInput) {
                const sliderRect = rangeSlider.getBoundingClientRect();
                const sliderWidth = sliderRect.width;
                const min = parseFloat(rangeSlider.getAttribute('min'));
                const max = parseFloat(rangeSlider.getAttribute('max'));
                const range = max - min;

                let position = (event.clientX - sliderRect.left) / sliderWidth;
                position = Math.min(1, Math.max(0, position)); // Clamp position between 0 and 1
                const value = Math.round(min + position * range);

                if (handle === lowerHandle) {
                    if (value >= parseFloat(upperLabel.textContent.split('：')[1])) {
                        return; // Lower handle cannot exceed upper handle
                    }
                    handle.style.left = `${position * 100}%`;
                    label.textContent = `下限：${value}`;
                    lowerInput.value = value;
                } else {
                    if (value <= parseFloat(lowerLabel.textContent.split('：')[1])) {
                        return; // Upper handle cannot be less than lower handle
                    }
                    handle.style.left = `${position * 100}%`;
                    label.textContent = `上限：${value}`;
                    upperInput.value = value;
                }
            }

            lowerInput.addEventListener('input', () => {
                const value = parseFloat(lowerInput.value);
                if (value >= parseFloat(upperLabel.textContent.split('：')[1])) {
                    return; // Lower input cannot exceed upper handle
                }
                const position = (value - parseFloat(rangeSlider.getAttribute('min'))) / (parseFloat(rangeSlider.getAttribute('max')) - parseFloat(rangeSlider.getAttribute('min')));
                lowerHandle.style.left = `${position * 100}%`;
                lowerLabel.textContent = `下限：${value}`;
            });

            upperInput.addEventListener('input', () => {
                const value = parseFloat(upperInput.value);
                if (value <= parseFloat(lowerLabel.textContent.split('：')[1])) {
                    return; // Upper input cannot be less than lower handle
                }
                const position = (value - parseFloat(rangeSlider.getAttribute('min'))) / (parseFloat(rangeSlider.getAttribute('max')) - parseFloat(rangeSlider.getAttribute('min')));
                upperHandle.style.left = `${position * 100}%`;
                upperLabel.textContent = `上限：${value}`;
            });
        });
    </script>
}

@section Styles {
    <style>
        .slider-container {
            display: flex;
            flex-direction: column;
        }

        .range-slider {
            position: absolute;
            width: 83%;
            height: 6px;
            background: #ddd;
            border-radius: 3px;
        }

        .slider-handle {
            position: absolute;
            width: 20px;
            height: 20px;
            background: #007bff;
            border-radius: 50%;
            cursor: pointer;
            top: -7px;
            z-index: 10;
        }

        .label-container {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
        }

        .input-container {
            display: flex;
            justify-content: space-between;
        }

            .input-container input {
                width: 45%;
                z-index: 1;
            }

    </style>
}


