@{
    ViewData["Title"] = "pgHotel";
}

<div class="row">
    <div class="m-3"></div>
    <div class="m-6">
        @*麵包屑*@
        <div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">首頁</a></li>
                    <li class="breadcrumb-item"><a href="#">台灣</a></li>
                    <li class="breadcrumb-item"><a href="#">首頁</a></li>
                    <li class="breadcrumb-item active" aria-current="page">圓山大飯店</li>
                </ol>
            </nav>
        </div>

        @*飯店介紹區*@
        <div class="container">
            @*飯店介紹區-第一層*@
            <div class="row">
                <div class="col-8">
                    <div style="display:flex;">
                        <h2>圓山大飯店</h2>
                        <img src="~/image/louieee_img/star.png" />
                        <img src="~/image/louieee_img/star.png" />
                        <img src="~/image/louieee_img/star.png" />
                    </div>
                    <div style="display:flex;">
                        <i class="fa-solid fa-location-dot">104, 台北, 中山區, 中山北路四段1號</i>
                        <a class="link-offset-2 link-underline link-underline-opacity-75" href="#">在地圖上顯示</a>
                    </div>
                    <div style="display:flex;">
                        <i class="fa-solid fa-hotel"></i>
                        <p>圓山大飯店成立於1952年，由蔣夫人宋美齡女士所創，是全台第一家五星級飯店，其巍峨圓山...</p>
                        <a class="link-offset-2 link-underline link-underline-opacity-75" href="#">顯示更多</a>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <h2>TWD 2,180</h2>
                    <button class="btn btn-primary btn-lg">查看房型</button>
                </div>
            </div>
            @*飯店介紹區-第二層*@
            <div class="row">
                <div class="col-4 d-flex align-items-stretch" data-bs-toggle="modal" data-bs-target="#hotelModal">
                    <img src="~/images/yuanshan.png" class="img-fluid" />
                </div>
                <div class="col-8">
                    <table data-bs-toggle="modal" data-bs-target="#hotelModal">
                        <tr>
                            <td><img src="~/image/louieee_img/yuanshan.png" class="img-fluid" /></td>
                            <td><img src="~/image/louieee_img/yuanshan.png" class="img-fluid" /></td>
                            <td><img src="~/image/louieee_img/yuanshan.png" class="img-fluid" /></td>
                        </tr>
                        <tr>
                            <td><img src="~/image/louieee_img/yuanshan.png" class="img-fluid" /></td>
                            <td><img src="~/image/louieee_img/yuanshan.png" class="img-fluid" /></td>
                            <td><img src="~/image/louieee_img/yuanshan.png" class="img-fluid" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            @*飯店介紹區-第三層*@
            <div class="row">
                <div class="col-5">
                    <h3>評論</h3>@*亭蓉做*@
                </div>
                <div class="col-4 d-flex flex-column">
                    <h3>飯店設施</h3>
                    <table>
                        <tr>
                            <td> <i class="fa-solid fa-water-ladder">室外泳池</i></td>
                            <td> <i class="fa-solid fa-water-ladder">室外泳池</i></td>
                            <td> <i class="fa-solid fa-water-ladder">室外泳池</i></td>
                            <td> <i class="fa-solid fa-water-ladder">室外泳池</i></td>
                        </tr>
                        <tr>
                            <td> <i class="fa-solid fa-water-ladder">室外泳池</i></td>
                            <td> <i class="fa-solid fa-water-ladder">室外泳池</i></td>
                            <td> <i class="fa-solid fa-water-ladder">室外泳池</i></td>
                            <td> <i class="fa-solid fa-water-ladder">室外泳池</i></td>
                        </tr>
                    </table>
                    <a class="link-offset-2 link-underline link-underline-opacity-75 align-self-end" href="#">所有設施></a>
                </div>
                <div class="col-3">
                    <h3>飯店周邊</h3>
                    <div class="row align-items-end">
                        <div class="col-8">
                            <table>
                                <tr>
                                    <td><i class="fa-solid fa-train">捷運: 劍潭站</i></td>
                                </tr>
                                <tr>
                                    <td><i class="fa-solid fa-train">捷運: 劍潭站</i></td>
                                </tr>
                                <tr>
                                    <td><i class="fa-solid fa-train">捷運: 劍潭站</i></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-4">
                            <a class="link-offset-2 link-underline link-underline-opacity-75" href="#">地圖></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*飯店彈出視窗*@
        <div class="modal fade" id="hotelModal" tabindex="-1" aria-labelledby="hotelModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <ul class="nav nav-underline">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">所有照片</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">客房</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">住宿</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">設施與服務</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">餐飲</a>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-10">
                                <div id="carouselExampleIndicators" class="carousel slide">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="~/image/louieee_img/yuanshan.png" class="d-block w-100" />
                                        </div>
                                        <div class="carousel-item">
                                            <img src="~/image/louieee_img/yuanshan.png" class="d-block w-100" />
                                        </div>
                                        <div class="carousel-item">
                                            <img src="~/image/louieee_img/yuanshan.png" class="d-block w-100" />
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-2">
                                <h2>圓山大飯店</h2>
                                <h3>飯店設備</h3>
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-water-ladder">室外泳池</i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-water-ladder">室外泳池</i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-water-ladder">室外泳池</i>
                                    </div>
                                </div>
                                <h3>飯店設備</h3>
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-water-ladder">室外泳池</i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-water-ladder">室外泳池</i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-water-ladder">室外泳池</i>
                                    </div>
                                </div>
                                <h3>飯店設備</h3>
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-water-ladder">室外泳池</i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-water-ladder">室外泳池</i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-water-ladder">室外泳池</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-10">
                                <table>
                                    <tr>
                                        <td><img src="~/image/louieee_img/yuanshan.png" class="img-fluid" /></td>
                                        <td><img src="~/image/louieee_img/yuanshan.png" class="img-fluid" /></td>
                                        <td><img src="~/image/louieee_img/yuanshan.png" class="img-fluid" /></td>
                                        <td><img src="~/image/louieee_img/yuanshan.png" class="img-fluid" /></td>
                                        <td><img src="~/image/louieee_img/yuanshan.png" class="img-fluid" /></td>
                                        <td><img src="~/image/louieee_img/yuanshan.png" class="img-fluid" /></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-2">
                                <h3>TWD 2,180</h3>
                                <button class="btn btn-primary btn-lg">查看房型</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*飯店導覽列*@
        <ul class="nav nav-underline">
            <li class="nav-item">
                <a class="nav-link" href="#">房型</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">評論</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">設施</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">周邊</a>
            </li>
        </ul>

        @*房型區--自動生成*@
        <div class="row">
            <h3 data-bs-toggle="modal" data-bs-target="#roomModal">精緻客房</h3>
            <div class="col-4">
                <table data-bs-toggle="modal" data-bs-target="#roomModal">
                    <tr>
                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                    </tr>
                    <tr>
                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                    </tr>
                </table>
            </div>
            <div class="col-8">
                <table class="table w-100">
                    <tr>
                        <th class="col-5">設備</th>
                        <th class="col-2">可住人數</th>
                        <th class="col-5">今日價格</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-bath">超大浴缸</i>
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-bath">超大浴缸</i>
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-bath">超大浴缸</i>
                                </div>
                            </div>
                        </td>
                        <td>
                            <i class="fa-solid fa-person"></i>
                            <i class="fa-solid fa-person"></i>
                        </td>
                        <td class="align-bottom">
                            <h3>TWD 2,180</h3>
                            <div style="margin-left: auto;">
                                <button class="btn btn-outline-primary btn-lg">加入購物車</button>
                                <button class="btn btn-primary btn-lg">立即下訂</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <h3 data-bs-toggle="modal" data-bs-target="#roomModal">精緻客房</h3>
            <div class="col-4">
                <table data-bs-toggle="modal" data-bs-target="#roomModal">
                    <tr>
                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                    </tr>
                    <tr>
                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                    </tr>
                </table>
            </div>
            <div class="col-8">
                <table class="table w-100">
                    <tr>
                        <th class="col-5">設備</th>
                        <th class="col-2">可住人數</th>
                        <th class="col-5">今日價格</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-bath">超大浴缸</i>
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-bath">超大浴缸</i>
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-bath">超大浴缸</i>
                                </div>
                            </div>
                        </td>
                        <td>
                            <i class="fa-solid fa-person"></i>
                            <i class="fa-solid fa-person"></i>
                        </td>
                        <td class="align-bottom">
                            <h3>TWD 2,180</h3>
                            <div style="margin-left: auto;">
                                <button class="btn btn-outline-primary btn-lg">加入購物車</button>
                                <button class="btn btn-primary btn-lg">立即下訂</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        @*房間彈出視窗*@
        <div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <ul class="nav nav-underline">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">所有照片</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">客房</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">住宿</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">設施與服務</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">餐飲</a>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-10">
                                <div id="carouselExampleIndicators" class="carousel slide">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="~/image/louieee_img/yuanshan_room.png" class="d-block w-100" />
                                        </div>
                                        <div class="carousel-item">
                                            <img src="~/image/louieee_img/yuanshan_room.png" class="d-block w-100" />
                                        </div>
                                        <div class="carousel-item">
                                            <img src="~/image/louieee_img/yuanshan_room.png" class="d-block w-100" />
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-2">
                                <h2>精緻客房</h2>
                                <h3>房間設備</h3>
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-bath">超大浴缸</i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-bath">超大浴缸</i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-bath">超大浴缸</i>
                                    </div>
                                </div>
                                <h3>房間設備</h3>
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-bath">超大浴缸</i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-bath">超大浴缸</i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-bath">超大浴缸</i>
                                    </div>
                                </div>
                                <h3>房間設備</h3>
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-bath">超大浴缸</i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-bath">超大浴缸</i>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-bath">超大浴缸</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-10">
                                <table>
                                    <tr>
                                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                                        <td><img src="~/image/louieee_img/yuanshan_room.png" class="img-fluid" /></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-2">
                                <h3>TWD 2,180</h3>
                                <button class="btn btn-outline-primary btn-lg">加入購物車</button>
                                <button class="btn btn-primary btn-lg">立即下訂</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*評論區(亭蓉做)*@

        @*設施區*@
        <div>
            <h2>設施與服務</h2>
            <div>
                <h3>運動設施</h3>
                <i class="fa-regular fa-circle-check">室外泳池</i>
                <i class="fa-regular fa-circle-check">室外泳池</i>
                <i class="fa-regular fa-circle-check">室外泳池</i>
            </div>
            <div>
                <h3>運動設施</h3>
                <i class="fa-regular fa-circle-check">室外泳池</i>
                <i class="fa-regular fa-circle-check">室外泳池</i>
                <i class="fa-regular fa-circle-check">室外泳池</i>
            </div>
            <div>
                <h3>運動設施</h3>
                <i class="fa-regular fa-circle-check">室外泳池</i>
                <i class="fa-regular fa-circle-check">室外泳池</i>
                <i class="fa-regular fa-circle-check">室外泳池</i>
            </div>
        </div>

        @*周邊區*@
        <div class="row">
            <div class="col-8">
                <img src="~/image/louieee_img/map.png" class="img-fluid" />
            </div>

            <div class="col-4">
                <div style="display:flex;">
                    <h2>圓山大飯店</h2>
                    <img src="~/image/louieee_img/star.png" />
                    <img src="~/image/louieee_img/star.png" />
                    <img src="~/image/louieee_img/star.png" />
                </div>
                <div>
                    <i class="fa-solid fa-location-dot">104, 台北, 中山區, 中山北路四段1號</i>
                </div>
                <div style="display:flex;">
                    <h3>TWD 2,180</h3>
                    <button class="btn btn-primary">查看房型</button>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">周邊景點</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">你可能也喜歡</a>
                    </li>
                </ul>
                @*分頁:周邊景點*@
                <div>
                    <div>
                        <button type="button" class="btn btn-outline-primary btn-sm">交通</button>
                        <button type="button" class="btn btn-outline-primary btn-sm">熱門景點</button>
                        <button type="button" class="btn btn-outline-primary btn-sm">餐廳</button>
                        <button type="button" class="btn btn-outline-primary btn-sm">購物</button>
                    </div>
                    <div class="vertical-align">
                        <i class="fa-solid fa-train">捷運: 劍潭站</i>
                        <i class="fa-solid fa-train">捷運: 劍潭站</i>
                        <i class="fa-solid fa-train">捷運: 劍潭站</i>
                    </div>
                </div>
                @*分頁:你可能也喜歡*@
                <div class="row">
                    <div class="col-3">
                        <img src="~/image/louieee_img/otherhotel.png" class="img-fluid full-height-img" />
                    </div>
                    <div class="col-9 vertical-align">
                        <div style="display:flex;">
                            <h4>台北見潭樸旅</h4>
                            <img src="~/image/louieee_img/star.png" />
                            <img src="~/image/louieee_img/star.png" />
                            <img src="~/image/louieee_img/star.png" />
                        </div>
                        <span>4.3/5 很好(681則評論)</span>
                        <i class="fa-solid fa-location-dot">111, 台北, 士林區, 承德路四段250號</i>
                        <span>最新預定 3 小時前</span>
                        <span>只剩 5 間房</span>
                        <div style="display:flex;">
                            <h3>TWD 1,962</h3>
                            <button class="btn btn-primary">查看房型</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <img src="~/image/louieee_img/otherhotel.png" class="img-fluid full-height-img" />
                    </div>
                    <div class="col-9 vertical-align">
                        <div style="display:flex;">
                            <h4>台北見潭樸旅</h4>
                            <img src="~/image/louieee_img/star.png" />
                            <img src="~/image/louieee_img/star.png" />
                            <img src="~/image/louieee_img/star.png" />
                        </div>
                        <span>4.3/5 很好(681則評論)</span>
                        <i class="fa-solid fa-location-dot">111, 台北, 士林區, 承德路四段250號</i>
                        <span>最新預定 3 小時前</span>
                        <span>只剩 5 間房</span>
                        <div style="display:flex;">
                            <h3>TWD 1,962</h3>
                            <button class="btn btn-primary">查看房型</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*推薦其他飯店*@
        <div>
            <h2>你可能也喜歡</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card" style="height: 300px;">
                        <img src="~/image/louieee_img/otherhotel.png" class="card-img-top" style="object-fit: cover; width: 100%; height: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">台北見潭樸旅</h5>
                            <img src="~/image/louieee_img/star.png" />
                            <img src="~/image/louieee_img/star.png" />
                            <img src="~/image/louieee_img/star.png" />
                            <p class="card-text">
                                <span>4.3/5 很好(681則評論)</span>
                                <i class="fa-solid fa-location-dot">111, 台北, 士林區, 承德路四段250號</i>
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">只剩 5 間房</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="height: 300px;">
                        <img src="~/image/louieee_img/otherhotel.png" class="card-img-top" style="object-fit: cover; width: 100%; height: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">台北見潭樸旅</h5>
                            <img src="~/image/louieee_img/star.png" />
                            <img src="~/image/louieee_img/star.png" />
                            <img src="~/image/louieee_img/star.png" />
                            <p class="card-text">
                                <span>4.3/5 很好(681則評論)</span>
                                <i class="fa-solid fa-location-dot">111, 台北, 士林區, 承德路四段250號</i>
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">只剩 5 間房</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="height: 300px;">
                        <img src="~/image/louieee_img/otherhotel.png" class="card-img-top" style="object-fit: cover; width: 100%; height: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">台北見潭樸旅</h5>
                            <img src="~/image/louieee_img/star.png" />
                            <img src="~/image/louieee_img/star.png" />
                            <img src="~/image/louieee_img/star.png" />
                            <p class="card-text">
                                <span>4.3/5 很好(681則評論)</span>
                                <i class="fa-solid fa-location-dot">111, 台北, 士林區, 承德路四段250號</i>
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">只剩 5 間房</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-3"></div>
</div>















@section Styles {
    <style>
        .modal-lg {
            max-width: 90%; /* Adjust this as needed */
        }

        .vertical-align {
            display: flex;
            flex-direction: column;
            align-items: flex-start; /* Optional: Align items to the start of the container */
        }

        .full-height-img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    </style>
}
@section Scripts {
    <script>

    </script>
}

