
@{
    ViewData["Title"] = "test";
}
@model IEnumerable<PrjFunNowWeb.Models.Country>

<h1 class="ms-4 text-2xl">test</h1>
<h2>dfsdf</h2>
<h3>fsdfsdfsd</h3>
<ul>

    @foreach (var item in Model)
    {
        <li>@item.CountryName</li>
    }
</ul>

