@{
    ViewData["Title"] = "Address";
    Layout = "_Layout_HotelCreate";
}

<main>
    <section class="leftSection">
        <div class="stepper">
            <div class="content">
                <div id="step-control" class="stepper-panel">
                    <div class="stepper-container container">
                        <div class="step active">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">住宿基本資料</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">住宿位置</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">客房基本資料</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">照片</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class=""></span>
                            <div class="label-container">上線開賣</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="rightSection">
        <div class="content__container pt-5">
  
            @*  地址 *@
            <div class="d-flex align-items-center justify-content-between">
                <div class="mb-4">
                    <h4 class="fw-bold mt-5">用地圖標示出住宿的所在</h4>
                    <div>才能讓旅人看得一目了然</div>
                </div>
                <div>
                    <img class="equip_image w-75" src="~/image/ou/earth_img.png" alt="..." />
                </div>
            </div>
            <h5 class="fw-bold">住宿位置</h5>
            <div class="panel">
                <div class="address mb-4">
                    <div class="fw-bold mb-2">街道地址</div>
                    <input type="text" class="form-control" placeholder="請在此輸入..." />
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="fw-bold mb-2">國家</div>
                        <input type="text" class="form-control" placeholder="台灣" />
                    </div>
                    <div class="col-md-4">
                        <div class="fw-bold mb-2">城市</div>
                        <input type="text" class="form-control" placeholder="城市" />
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <h6 class="fw-bold mt-4">地圖位置</h6>
                <div class="mb-3">住客只有在訂單確認後才會收到你的確切地址。</div>
                <div class="googleMap"></div>
            </div>

            @* button *@
            <div class="d-flex justify-content-end my-5">
                <button type="button" class="btn_previous">上一步</button>
                <button type="button" class="btn_next">下一步</button>
            </div>

        </div>
    </section>
</main>




@section Styles {

    <link href="~/ou/css/Address.css" rel="stylesheet" />
}
@section Scripts {
    <script>

    </script>
}

