@{
    ViewData["Title"] = "免費刊登!";
    Layout = "_Layout_HotelCreate";
}

<main>
    <section class="leftSection">
        <div class="stepper">
            <div class="content">
                <div id="step-control" class="stepper-panel">
                    <div class="stepper-container container">
                        <div class="step">
                            <img src="~/ou/image/checksign.png" alt="..." style="display:block; margin-right:20px;" />
                            <span class="connect-line"></span>
                            <div class="label-container">住宿基本資料</div>
                        </div>
                        <div class="step">
                            <img src="~/ou/image/circle_round.png" alt="..." style="display:block; margin-right:20px;" />
                            <span class="connect-line"></span>
                            <div class="label-container">住宿位置</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">客房基本資料</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">照片</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class=""></span>
                            <div class="label-container">上線開賣</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="rightSection">
        <div class="content__container pt-5">
        
            <form method="post" action="@Url.Action("RoomInfo", "HotelCreate")">
                @*  地址 *@
                <div class="d-flex align-items-center justify-content-between">
                    <div class="mb-4">
                        <h4 class="fw-bold mt-5">用地圖標示出住宿的所在</h4>
                        <div>才能讓旅人看得一目了然</div>
                    </div>
                    <div>
                        <img class="equip_image w-75" src="~/image/ou/earth_img.png" alt="..." />
                    </div>
                </div>
                <h5 class="fw-bold">住宿位置</h5>
                <div class="panel">
                    <div class="address mb-4">
                        <div class="fw-bold mb-2">街道地址</div>
                        <input type="text" class="form-control" placeholder="請在此輸入..." id="iptAddress" name="HotelAddress" />
                        <span class="alertMessage" id="descMessage"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fw-bold mb-2">國家</div>
                            <select class="form-select" aria-label="Default select example" id="selectCountry">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="fw-bold mb-2">城市</div>
                            <select class="form-select" aria-label="Default select example" id="selectCity">
                            </select>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <h6 class="fw-bold mt-4">地圖位置</h6>
                    <div class="mb-3">住客只有在訂單確認後才會收到你的確切地址。</div>
                    <div id="map">
                    </div>
                </div>

                @* button *@
                <div class="d-flex justify-content-end my-5">
                    <a href="@Url.Action("HotelInfo", "HotelCreate")" class="btn_previous" id="btnPrevious">上一步</a>
                    <button type="submit" class="btn_next" id="btnNext">下一步</button>
                </div>

            </form>
        </div>

    </section>
</main>




@section Styles {

    <link href="~/ou/css/Address.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
}
@section Scripts {
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var map = L.map('map').setView([25.033913, 121.5434129], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap',
            zoomControl: true,
        }).addTo(map);
        var currentMarker = null;

        function onMapClick(e) {
            var lat = e.latlng.lat;
            var lng = e.latlng.lng;
            var url = `https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${lat}&lon=${lng}`;

            axios.get(url)
                .then(function (response) {
                    var address = response.data.display_name;
                    var popupContent = `
                                        <b>地址:</b> ${address}<br>
                                        <b>經度:</b> ${lng}<br>
                                        <b>緯度:</b> ${lat}
                                    `;

                    // 如果已經有地標，先將其移除
                    if (currentMarker) {
                        map.removeLayer(currentMarker);
                    }

                    // 創建新的地標並添加到地圖
                    currentMarker = L.marker([lat, lng]).addTo(map);
                    currentMarker.bindPopup(popupContent).openPopup();

                    // 將經緯度存入 sessionStorage
                    const tHotel = JSON.parse(sessionStorage.getItem('tHotel')) || {};
                    tHotel.Latitude = lat.toString();
                    tHotel.Longitude = lng.toString();
                    sessionStorage.setItem('tHotel', JSON.stringify(tHotel));
                })
                .catch(function (error) {
                    console.log(error);
                });
        }

        map.on('click', onMapClick);



        let selectCountryStr = ""      
        $(document).ready(async function() {
            //顯示session 在畫面上
            const tHotel = JSON.parse(sessionStorage.getItem('tHotel')) || {};
            if (tHotel) {
                $('#iptAddress').val(tHotel.HotelAddress || '');
                if (tHotel.Latitude && tHotel.Longitude) {
                    map.setView([parseFloat(tHotel.Latitude), parseFloat(tHotel.Longitude)], 15);
                    currentMarker = L.marker([parseFloat(tHotel.Latitude), parseFloat(tHotel.Longitude)]).addTo(map);
                    currentMarker.bindPopup(`<b>地址:</b> ${tHotel.HotelAddress}<br><b>經度:</b> ${tHotel.Longitude}<br><b>緯度:</b> ${tHotel.Latitude}`).openPopup();
                }

            }


            //國家
            try {
                const res = await fetch('https://localhost:7103/api/Country/countriesAndCities');
                if(!res.ok) {
                    throw new Error(res.statusText);
                }
                const data = await res.json();
                data.forEach(item => {
                    selectCountryStr +=
                    `
                      <option value="${item.countryId}">${item.countryName}</option>
                    `
                })

                $('#selectCountry').html(selectCountryStr);

          
       
                // 找到包含 tHotel.CityId 的國家
                const countryWithSelectedCity = data.find(country => country.cities.some(city => city.cityId == tHotel.CityId));

                // 如果找到了國家，則為該國家加載城市並設置該國家為選中
                if (countryWithSelectedCity) {
                    $('#selectCountry').val(countryWithSelectedCity.countryId);
                    loadCities(countryWithSelectedCity);
                } else if (data.length > 0) {
                    // 否則，加載第一個國家的城市作為默認值
                    loadCities(data[0]);
                }

                //城市
                $('#selectCountry').on('change', function () {
                    const selectedCountry = data.find(country => country.countryId == $(this).val());
                    loadCities(selectedCountry);
                });
                     
            }
            catch(err) {
                console.log(err)
            }
            function loadCities(country) {

                let selectCityStr = '';
                if (country && country.cities.length > 0) {
                    country.cities.forEach(city => {
                        selectCityStr += `<option value="${city.cityId}" name="CityId" id="CityId${city.cityId}" ${tHotel.CityId == city.cityId ? 'selected' : ''}>${city.cityName}</option>`;
                    });
                    $('#selectCity').prop('disabled', false);
                } else {
                    $('#selectCity').prop('disabled', true);
                }
                $('#selectCity').html(selectCityStr);
            }


            //下一步
            $('#btnNext').on('click', async function () {

                let isFormValid = true;
                if ($('#iptAddress').val().trim() === "") {
                    $('#descMessage').html('請輸入完整地址，包括街道名稱和號碼');
                    isFormValid = false;
                } else {
                    $('#descMessage').html('');
                }

                if (!isFormValid) {
                    event.preventDefault();
                }

                

                const selectedCityID = $('#selectCity').val();
                const existingHotelData = JSON.parse(sessionStorage.getItem('tHotel')) || {};
                const updatedHotelData = {
                    ...existingHotelData,
                    HotelAddress: $('#iptAddress').val(),
                    CityId: selectedCityID
                  
                };           
                sessionStorage.setItem('tHotel', JSON.stringify(updatedHotelData));

                
            })


            //上一步
            $('#btnPrevious').on('click', async function () {
                const selectedCityID = $('#selectCity').val();
                const hotelAddress = $('#iptAddress').val();
                const tHotel = JSON.parse(sessionStorage.getItem('tHotel')) || {};
                tHotel.HotelAddress = hotelAddress;
                tHotel.CityId = selectedCityID;
                sessionStorage.setItem('tHotel', JSON.stringify(tHotel));
            })
            
        });


    </script>
}

