@{
    ViewData["Title"] = "Address";
    Layout = "_Layout_HotelCreate";
}

<main>
    <section class="leftSection">
        <div class="stepper">
            <div class="content">
                <div id="step-control" class="stepper-panel">
                    <div class="stepper-container container">
                        <div class="step active">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">住宿基本資料</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">住宿位置</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">客房基本資料</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">照片</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class=""></span>
                            <div class="label-container">上線開賣</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="rightSection">
        <div class="content__container pt-5">
        
            <form method="post" action="@Url.Action("RoomInfo", "HotelCreate")">
                @*  地址 *@
                <div class="d-flex align-items-center justify-content-between">
                    <div class="mb-4">
                        <h4 class="fw-bold mt-5">用地圖標示出住宿的所在</h4>
                        <div>才能讓旅人看得一目了然</div>
                    </div>
                    <div>
                        <img class="equip_image w-75" src="~/image/ou/earth_img.png" alt="..." />
                    </div>
                </div>
                <h5 class="fw-bold">住宿位置</h5>
                <div class="panel">
                    <div class="address mb-4">
                        <div class="fw-bold mb-2">街道地址</div>
                        <input type="text" class="form-control" placeholder="請在此輸入..." id="iptAddress" name="HotelAddress" />
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fw-bold mb-2">國家</div>
                            <select class="form-select" aria-label="Default select example" id="selectCountry">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="fw-bold mb-2">城市</div>
                            <select class="form-select" aria-label="Default select example" id="selectCity">
                            </select>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <h6 class="fw-bold mt-4">地圖位置</h6>
                    <div class="mb-3">住客只有在訂單確認後才會收到你的確切地址。</div>
                    <div class="googleMap"></div>
                </div>

                @* button *@
                <div class="d-flex justify-content-end my-5">
                    <a href="@Url.Action("HotelInfo", "HotelCreate")" class="btn_previous" id="btnPrevious">上一步</a>
                    <button type="submit" class="btn_next" id="btnNext">下一步</button>
                </div>

            </form>
        </div>

    </section>
</main>




@section Styles {

    <link href="~/ou/css/Address.css" rel="stylesheet" />
}
@section Scripts {
    <script>
        let selectCountryStr = ""
       
        $(document).ready(async function() {
            //顯示session 在畫面上
            const tHotel = JSON.parse(sessionStorage.getItem('tHotel')) || {};
            if (tHotel) {
                $('#iptAddress').val(tHotel.HotelAddress || '');
            }


            //國家
            try {
                const res = await fetch('https://localhost:7103/api/Country/countriesAndCities');
                if(!res.ok) {
                    throw new Error(res.statusText);
                }
                const data = await res.json();
                data.forEach(item => {
                    selectCountryStr +=
                    `
                      <option value="${item.countryId}">${item.countryName}</option>
                    `
                })

                $('#selectCountry').html(selectCountryStr);

          
       
                // 找到包含 tHotel.CityId 的國家
                const countryWithSelectedCity = data.find(country => country.cities.some(city => city.cityId == tHotel.CityId));

                // 如果找到了國家，則為該國家加載城市並設置該國家為選中
                if (countryWithSelectedCity) {
                    $('#selectCountry').val(countryWithSelectedCity.countryId);
                    loadCities(countryWithSelectedCity);
                } else if (data.length > 0) {
                    // 否則，加載第一個國家的城市作為默認值
                    loadCities(data[0]);
                }

                //城市
                $('#selectCountry').on('change', function () {
                    const selectedCountry = data.find(country => country.countryId == $(this).val());
                    loadCities(selectedCountry);
                });
                     
            }
            catch(err) {
                console.log(err)
            }
            function loadCities(country) {

                let selectCityStr = '';
                if (country && country.cities.length > 0) {
                    country.cities.forEach(city => {
                        selectCityStr += `<option value="${city.cityId}" name="CityId" id="CityId${city.cityId}" ${tHotel.CityId == city.cityId ? 'selected' : ''}>${city.cityName}</option>`;
                    });
                    $('#selectCity').prop('disabled', false);
                } else {
                    $('#selectCity').prop('disabled', true);
                }
                $('#selectCity').html(selectCityStr);
            }


            //下一步
            $('#btnNext').on('click', async function () {
                const selectedCityID = $('#selectCity').val();
                const existingHotelData = JSON.parse(sessionStorage.getItem('tHotel')) || {};
                const updatedHotelData = {
                    ...existingHotelData,
                    HotelAddress: $('#iptAddress').val(),
                    CityId: selectedCityID
                  
                };           
                sessionStorage.setItem('tHotel', JSON.stringify(updatedHotelData));

                
            })


            //上一步
            $('#btnPrevious').on('click', async function () {
                const selectedCityID = $('#selectCity').val();
                const hotelAddress = $('#iptAddress').val();
                const tHotel = JSON.parse(sessionStorage.getItem('tHotel')) || {};
                tHotel.HotelAddress = hotelAddress;
                tHotel.CityId = selectedCityID;
                sessionStorage.setItem('tHotel', JSON.stringify(tHotel));
            })
            
        });



        //API
        // try {
        //     const hotelData = JSON.parse(sessionStorage.getItem('tHotel')) || {};
        //     const hotelEquipmentData = JSON.parse(sessionStorage.getItem('tHotelEquipment')) || { HotelEquipment: [] };
        //     const formData = new FormData();
        //     formData.append('hotelData', JSON.stringify(hotelData));
        //     formData.append('hotelEquipmentData', JSON.stringify(hotelEquipmentData.HotelEquipment));
        //     console.log("test");
        //     const url = "https://localhost:7103/api/HotelCreate";
        //     const res = await fetch(url, {
        //         method: "POST",
        //         body: formData
        //     });
        //     if (res.ok) {
        //         const data = await res.json();
        //         console.log(data);

        //     } else {
        //         console.error('Error:', res.statusText);
        //     }

        // }
        // catch (err) {
        //     console.log(err)
        // }



    </script>
}

