@{
    ViewData["Title"] = "HotelInfo";
    Layout = "_Layout_HotelCreate";
}

<main>
    <section class="leftSection">
        <div class="stepper">
            <div class="content">
                <div id="step-control" class="stepper-panel">
                    <div class="stepper-container container">
                        <div class="step active">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">住宿基本資料</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">住宿位置</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">客房基本資料</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">照片</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class=""></span>
                            <div class="label-container">上線開賣</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="rightSection">
        <div class="content__container pt-5">
            <form action="@Url.Action("address", "HotelCreate")" method="post">
                <div class="content__container__title mb-5">
                    <h4 class="fw-bold">為你的物業尋找速配的客人。</h4>
                    <div class="sm_titlt">所有資訊皆為必填，除非另外標示為選填</div>
                </div>
                <div class="content__container__name">
                    <h5 class="fw-bold">為住宿命名</h5>
                    <div class="sm_titlt mb-3">住宿名稱要有吸引力，讓人印象深刻！</div>
                    <div class="panel mb-5">
                        <input type="text" class="form-control" placeholder="住宿名稱" name="HotelName" id="iptHotelName" />
                    </div>
                </div>
                <div>
                    <div>
                        <h5 class="fw-bold">選擇您的房源類別</h5>
                        <div class="sm_titlt mb-3">請從下方類別中選擇一項：</div>
                    </div>
                    <div class="panel">
                        <div class="fw-bold">房源類別</div>
                        <div>
                            <div class="w-50 row" id="hotelType">
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="fw-bold mt-5">星級評等</h5>
                <div class="sm_titlt mb-3">旅客對不同星等的住宿有不同的期待，為住宿提供一個適合的星級評等吧！</div>
                <div class="panel">
                    <input type="number" min="1" max="5" class="form-control" name="LevelStar" id="iptLevelStar" />
                </div>
                <h5 class="fw-bold mt-5">旅館電話</h5>
                <div class="panel mb-5">
                    <input type="tel" class="form-control" placeholder="請輸入電話" name="HotelPhone" id="iptHotelPhone" />
                </div>
                @* 設備 *@
                <h5 class="fw-bold">旅館設施</h5>
                <div class="sm_titlt mb-3">旅館有提供的設備</div>
                <div class="panel">
                    <div class="row row-cols-3" id="hotelEquipment">
                    </div>
                </div>

                <h5 class="fw-bold mt-5">旅館簡介</h5>
                <div class="panel">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="請介紹您的旅館" id="floatingTextarea" name="HotelDescription" style="height: 200px; resize: none"></textarea>
                        <label for="floatingTextarea">請介紹您的飯店</label>
                    </div>
                </div>

                @*   button *@
                <div class="d-flex justify-content-end my-5">
                    <button type="submit" class="btn_next" id="btnNext">下一步</button>
                </div>
            </form>
        </div>
    </section>
</main>


@section Styles {
    <link rel="stylesheet" href="~/ou/css/HotelInfo.css" />

}
@section Scripts {
    <script defer>
        let hotelTypeStr = "";
        let hotelEquimentStr = "";

        //Hotel type
        (async () => {
            const res = await fetch('https://localhost:7103/api/HotelType')
            const data = await res.json();
            data.forEach(item => {
                hotelTypeStr +=
                    `
                              <div class="col-md-6 mb-4">
                                <div class="panel">
                                    <label>
                                              <input type="radio" class="custom-radio" value="${item.hotelTypeId}" name="HotelTypeID" id="iptHotelHotelTypeID${item.hotelTypeId}"  />
                                              ${item.hotelTypeName}
                                    </label>
                                </div>
                             </div>
                            `
            })
            $('#hotelType').html(hotelTypeStr);


            //顯示session 在畫面上
            const tHotel = JSON.parse(sessionStorage.getItem('tHotel')) || {};
            if (tHotel) {
                $('#iptHotelName').val(tHotel.HotelName || '');
                $('#iptHotelPhone').val(tHotel.HotelPhone || '');
                $('#iptLevelStar').val(tHotel.LevelStar || '');
                $('#floatingTextarea').val(tHotel.HotelDescription || '');               
                if (tHotel.HotelTypeID) {
                    $(`input[name="HotelTypeID"][value="${tHotel.HotelTypeID}"]`).prop('checked', true);
                }           
            }

        })();


        //Hotel Equipment
        (async () => {
            const res = await fetch('https://localhost:7103/api/HotelEquipment')
            const data = await res.json();
            data.forEach(item => {
                hotelEquimentStr +=
                    `
                                   <div class="col mb-2">
                                        <label for="equipBundle${item.hotelEquipmentId}">
                                                    <input type="checkbox" id="equipBundle${item.hotelEquipmentId}" value="${item.hotelEquipmentId}" name="HotelEquipmentID" />
                                            ${item.hotelEquipmentName}
                                        </label>
                                    </div>
                                `
            })
            $('#hotelEquipment').html(hotelEquimentStr);

            //顯示session在畫面上
            const storedEquipment = JSON.parse(sessionStorage.getItem('tHotelEquipment')) || { HotelEquipment: [] };
            storedEquipment.HotelEquipment.forEach(id => {
                $(`#equipBundle${id}`).prop('checked', true);
            });
        })();


        //儲存session

        $('#btnNext').on('click', function () {
            const selectedHotelTypeID = $('input[name="HotelTypeID"]:checked').val(); // 獲取選中的 HotelTypeID

            sessionStorage.setItem('tHotel', JSON.stringify({
                HotelName: $('#iptHotelName').val(),
                HotelAddress: null,
                HotelPhone: $('#iptHotelPhone').val(),
                HotelDescription: $('#floatingTextarea').val(),
                CityID: null,
                HotelTypeID: selectedHotelTypeID,
                LevelStar: $('#iptLevelStar').val(),
                Latitude: null,
                Longitude: null,
            }));



            let selectedEquipments = [];

            $('input[name="HotelEquipmentID"]:checked').each(function () {
                selectedEquipments.push(parseInt($(this).val()));
            });

            sessionStorage.setItem('tHotelEquipment', JSON.stringify({
                HotelEquipment: selectedEquipments
            }));
           
           

        })



    </script>
}

