@{
    ViewData["Title"] = "RoomInfo";
    Layout = "_Layout_HotelCreate";
}

<main>
    <section class="leftSection">
        <div class="stepper">
            <div class="content">
                <div id="step-control" class="stepper-panel">
                    <div class="stepper-container container">
                        <div class="step active">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">住宿基本資料</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">住宿位置</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">客房基本資料</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">照片</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class=""></span>
                            <div class="label-container">上線開賣</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="rightSection">
        <div class="content__container pt-5">
            <form action="@Url.Action("UploadImage", "HotelCreate")" method="post">
                @* 客房基本資料 *@
                <div class="d-flex align-items-center justify-content-between">
                    <div class="mb-4">
                        <h4 class="fw-bold mt-5">設定客房資訊</h4>
                        <div>設定至少一種房型的價格和客房詳情，以在FunNow刊登您的住宿。</div>
                    </div>
                    <div>
                        <img class="equip_image w-75" src="~/image/ou/room_Icon.png" alt="..." />
                    </div>
                </div>

                <div class="mb-4">
                    <h4 class="fw-bold mt-5">客房詳情與定價</h4>
                    <div>使用通路管理平台？完成房型對應後，我們將同步平台之間的價格。</div>
                </div>

                @*  room card *@
                <div id="panels-container">
                    <div class="panel__room mb-4">
                        <div class="position-relative">
                            <div class="fw-bold pb-3 mb-3 border-bottom panel__room__count">客房1</div>
                            <div>
                                <button type="button" class="btn_delete me-4" style="display: none;">刪除房型</button>
                            </div>
                            <div class="btn-toggle">
                                <span class="me-2">收起</span>
                                <i class="fa-solid fa-chevron-up"></i>
                            </div>
                        </div>
                        <div class="panel__content" style="display: block;">
                            <div class="fw-bold fs-5 mb-4">基本資訊</div>
                            <div class="mb-3">
                                <div class="mb-2 fw-bold">為住宿命名</div>
                                <input type="text" class="form-control roomNames" placeholder="請輸入房間名稱" />
                            </div>
                            <div class="mb-4">
                                <div class="mb-2 fw-bold">請選擇房型</div>
                                <select class="form-select roomTypes" aria-label="Default select example" id="roomType">
                                </select>
                            </div>
                            <div class="mb-4">
                                <div class="mb-2 fw-bold">Room size</div>
                                <div class="d-flex">
                                    <div>
                                        <input type="number" min="0" class="form-Room-size roomSizes" />
                                    </div>
                                    <div class="form-Room-size-unit">平方公尺</div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <div class="fw-bold mb-2">客房人數限制</div>
                                <div>
                                    <button class="btn-icon" id="minus-btn" type="button"><i class="fa-solid fa-minus"></i></button>
                                    <input value="1" type="number" min="1" step="1" max="99" class="form-Room-size roomPeople" id="room-size-input" />
                                    <button class="btn-icon" id="plus-btn" type="button"><i class="fa-solid fa-plus"></i></button>
                                </div>
                            </div>

                            <div class="mb-4">
                                <div class="fw-bold mb-2">房價設定</div>
                                <div>該房型的最低房價，不包括促銷優惠、稅金或其他費用。</div>
                                <div class="d-flex mt-2">
                                    <div>
                                        <input type="number" min="0" step="1" class="form-Room-size roomPrice" />
                                    </div>
                                    <div class="form-Room-size-unit">TWD</div>
                                </div>
                            </div>
                            @* 設備 *@
                            <h5 class="fw-bold">房間設施</h5>
                            <div class="sm_titlt mb-3">房間有提供的設備</div>
                            <div class="panel">
                                <div class="row row-cols-3" id="roomEquipment">
                                </div>
                            </div>
                            <h5 class="fw-bold mt-5">房間簡介</h5>
                            <div class="panel">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="請介紹您的房間" style="height: 200px; resize: none"></textarea>
                                    <label>請介紹您的房間</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <button type="button" class="btn_create">新增一間房</button>
                </div>


                @*   button *@
                <div class="d-flex justify-content-end my-5">

                    <a href="@Url.Action("Address", "HotelCreate")" class="btn_previous">上一步</a>
                    <button type="submit" class="btn_next" id="btnNext">下一步</button>
                </div>
            </form>
        </div>
    </section>
</main>

@section Styles {
    <link rel="stylesheet" href="~/ou/css/RoomInfo.css" />

}
@section Scripts {
    <script>

        $(document).ready(() => {
            let roomCount = 1;
            let roomEquipStr = "";
            let roomTypeStr = "";

            //Room Equip
            (async () => {
                const res = await fetch('https://localhost:7103/api/RoomEquipment')
                const data = await res.json();

                data.forEach(item => {
                    roomEquipStr +=
                        `
                                  <div class="col mb-2">
                                          <label>
                                               <input type="checkbox" value="${item.roomEquipmentId}" />
                                                ${item.roomEquipmentName}
                                          </label>
                                 </div>
                                `
                })
                $('#roomEquipment').html(roomEquipStr);
            })();

            //Room Type
            (async () => {
                const res = await fetch('https://localhost:7103/api/RoomType')
                const data = await res.json();
                roomTypeStr += `<option selected disabled> 請選擇房型 </option>`;
                data.forEach(item => {
                    roomTypeStr +=
                        `
                          <option value = "${item.roomTypeId}">${item.roomTypeName}</option>
                        `
                })
                $('#roomType').html(roomTypeStr);

                const roomInfo = JSON.parse(sessionStorage.getItem('tRoom'));

                if (roomInfo) {
                    roomInfo.forEach((roomData, index) => {
                        if (index === 0) {
                            // 第一個客房已經存在，只需要設置它的值
                            const room = $('.panel__room:first');
                            room.find('.roomNames').val(roomData.RoomName);
                            room.find('.roomTypes').val(roomData.RoomTypeID);
                            room.find('.roomSizes').val(roomData.RoomSize);
                            room.find('.roomPeople').val(roomData.MaximumOccupancy);
                            room.find('.roomPrice').val(roomData.RoomPrice);
                            room.find('textarea').val(roomData.Description);
                            // 設置設備
                            setTimeout(() => {
                                roomData.RoomEquipments.forEach(equipId => {
                                    room.find(`input[type="checkbox"][value="${equipId}"]`).prop('checked', true);
                                });
                            }, 0);
                        } else {
                            // 其他的客房需要創建新的面板
                            createPanel();
                            const room = $('.panel__room:last');
                            room.find('.roomNames').val(roomData.RoomName);
                            room.find('.roomTypes').val(roomData.RoomTypeID);
                            room.find('.roomSizes').val(roomData.RoomSize);
                            room.find('.roomPeople').val(roomData.MaximumOccupancy);
                            room.find('.roomPrice').val(roomData.RoomPrice);
                            room.find('textarea').val(roomData.Description);
                            setTimeout(() => {
                                roomData.RoomEquipments.forEach(equipId => {
                                    room.find(`input[type="checkbox"][value="${equipId}"]`).prop('checked', true);
                                });
                            }, 1000);
                        }
                    });
                }


            })();





            const bindClickHandlers = (panel) => {
                const plusBtn = panel.find('#plus-btn');
                const minusBtn = panel.find('#minus-btn');
                const roomSizeInput = panel.find('#room-size-input');

                plusBtn.on('click', (event) => {
                    event.preventDefault();
                    const currentValue = parseInt(roomSizeInput.val());
                    if (currentValue < parseInt(roomSizeInput.attr('max'))) {
                        roomSizeInput.val(currentValue + 1);
                    }
                });

                minusBtn.on('click', (event) => {
                    event.preventDefault();
                    const currentValue = parseInt(roomSizeInput.val());
                    if (currentValue > parseInt(roomSizeInput.attr('min'))) {
                        roomSizeInput.val(currentValue - 1);
                    }
                });
            };

   

            //btn Next
            $('#btnNext').on('click', () => {
                const roomInfo = [];
                const rooms = $('.panel__room');
                rooms.each((index, room) => {
                    const RoomName = $(room).find('.roomNames').val();
                    const RoomTypeID = $(room).find('.roomTypes').val();
                    const RoomSize = $(room).find('.roomSizes').val();
                    const MaximumOccupancy = $(room).find('.roomPeople').val();
                    const RoomPrice = $(room).find('.roomPrice').val();
                    const Description = $(room).find('textarea').val();
                    const RoomEquipments = $(room).find('input[type="checkbox"]:checked').map((index, equip) => $(equip).val()).get();
              
                    console.log(RoomEquipments);
                 
                    roomInfo.push({
                        RoomName,
                        RoomTypeID,
                        RoomSize,
                        MaximumOccupancy,
                        RoomPrice,
                        Description,
                        RoomEquipments
                    });
                });

                sessionStorage.setItem('tRoom', JSON.stringify(roomInfo));
            });
    

   
            // 單一客房toggle 內容
            const togglePanel = (panel) => {
                const panelContent = panel.find('.panel__content');
                const toggleText = panel.find('.btn-toggle span');
                const toggleIcon = panel.find('.btn-toggle i');

                panelContent.slideToggle();

                if (toggleText.text() === '收起') {
                    toggleText.text('展開');
                    toggleIcon.removeClass('fa-chevron-up').addClass('fa-chevron-down');
                } else {
                    toggleText.text('收起');
                    toggleIcon.removeClass('fa-chevron-down').addClass('fa-chevron-up');
                }
            };


            //更新button 的visibility & re-number
            const updateDeleteButtonsAndRenumberRooms = () => {
                const rooms = $('.panel__room');
                rooms.each((index, room) => {
                    $(room).find('.panel__room__count').text(`客房${index + 1}`);
                    $(room).find('.btn_delete').toggle(rooms.length > 1);
                });
            };

            // 繫結button to 單一客房
            $('.btn-toggle').on('click', function () {
                togglePanel($(this).closest('.panel__room'));
            });

            $('.btn_delete').on('click', function () {
                if (confirm('確定要刪除這個房型嗎？')) {
                    // 獲取被刪除的客房的索引
                    const roomIndex = $(this).closest('.panel__room').index();

                    // 從 sessionStorage 中讀取所有的客房資訊
                    const roomInfo = JSON.parse(sessionStorage.getItem('tRoom'));

                    // 刪除對應的元素
                    roomInfo.splice(roomIndex, 1);

                    // 將更新後的數組寫回 sessionStorage
                    sessionStorage.setItem('tRoom', JSON.stringify(roomInfo));

                    $(this).closest('.panel__room').remove();
                    updateDeleteButtonsAndRenumberRooms();
                }
            });

            // create 新客房
            const createPanel = () => {
                roomCount++;
                const newPanel = $('.panel__room:first').clone();
                newPanel.find('.btn-icon-plus').attr('id', 'plus-btn-' + roomCount);
                newPanel.find('.btn-icon-minus').attr('id', 'minus-btn-' + roomCount);
                newPanel.find('.room-size-input').attr('id', 'room-size-input-' + roomCount);

                newPanel.find('.panel__room__count').text(`客房${roomCount}`);
                newPanel.find('input').val('');
                newPanel.find('select').prop('selectedIndex', 0); // 重置下拉框選項
                newPanel.find('input[type="checkbox"]').prop('checked', false); // 重置所有checkbox
                newPanel.find('.panel__content').hide();
                newPanel.find('.btn-toggle span').text('展開');
                newPanel.find('.btn-toggle i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
                newPanel.find('.btn_delete').show();
                newPanel.find('.roomPeople').val('1');
                newPanel.find('textarea').val('');

                // 收合現有的客房
                $('#panels-container .panel__room .panel__content').slideUp();
                $('#panels-container .panel__room .btn-toggle span').text('展開');
                $('#panels-container .panel__room .btn-toggle i').removeClass('fa-chevron-up').addClass('fa-chevron-down');

                // 將新的客房加入
                $('#panels-container').append(newPanel);

                // 清空新的客房面板的設備選項
                newPanel.find('#roomEquipment').empty();

                //複製並更新其設備選項的值
                (async () => {
                    const res = await fetch('https://localhost:7103/api/RoomEquipment')
                    const data = await res.json();

                    data.forEach(item => {
                        newPanel.find('#roomEquipment').append(
                            `
                        <div class="col mb-2">
                            <label>
                                <input type="checkbox" value="${item.roomEquipmentId}" />
                                ${item.roomEquipmentName}
                            </label>
                        </div>
                        `
                        );
                    });
                })();

                bindClickHandlers(newPanel);

                // 新的客房展開資料
                newPanel.find('.panel__content').slideDown();
                newPanel.find('.btn-toggle span').text('收起');
                newPanel.find('.btn-toggle i').removeClass('fa-chevron-down').addClass('fa-chevron-up');


                // 繫結button to 新的客房
                newPanel.find('.btn-toggle').on('click', function () {
                    togglePanel($(this).closest('.panel__room'));
                });


                newPanel.find('.btn_delete').on('click', function () {
                    if (confirm('確定要刪除這個房型嗎？')) {
                        // 獲取被刪除的客房的索引
                        const roomIndex = $(this).closest('.panel__room').index();

                        // 從 sessionStorage 中讀取所有的客房資訊
                        const roomInfo = JSON.parse(sessionStorage.getItem('tRoom'));

                        // 刪除對應的元素
                        roomInfo.splice(roomIndex, 1);

                        // 將更新後的數組寫回 sessionStorage
                        sessionStorage.setItem('tRoom', JSON.stringify(roomInfo));


                        $(this).closest('.panel__room').remove();
                        updateDeleteButtonsAndRenumberRooms();
                    }
                });


                updateDeleteButtonsAndRenumberRooms();

             

            };

            // Add new panel on button click
            $('.btn_create').on('click', () => {
                createPanel();
            });

            bindClickHandlers($('.panel__room:first'));
            updateDeleteButtonsAndRenumberRooms();



        });

    </script>
}

