@{
    ViewData["Title"] = "UploadImage";
    Layout = "_Layout_HotelCreate";
}

<main>
    <section class="leftSection">
        <div class="stepper">
            <div class="content">
                <div id="step-control" class="stepper-panel">
                    <div class="stepper-container container">
                        <div class="step active">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">住宿基本資料</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">住宿位置</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">客房基本資料</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class="connect-line"></span>
                            <div class="label-container">照片</div>
                        </div>
                        <div class="step">
                            <div class="circle-container"></div>
                            <span class=""></span>
                            <div class="label-container">上線開賣</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="rightSection">
        <div class="content__container pt-5">
     
            @* 圖片 *@
            <div class="content__container__image">
                <div class="d-flex align-items-center">
                    <div class="mb-4">
                        <h4 class="fw-bold mt-5">向房客們展示物業的特色</h4>
                        <div class="content__container__image__text">對於旅客來說，現場實景照片往往成為影響是否訂房的重要參考。因此，建議你上傳完整的高畫質實景照片，吸引旅客下訂，當然也可以晚點再增加照片囉。想獲得更多小撇步嗎？</div>
                    </div>
                    <div class="mt-2 me-5">
                        <img class="equip_image w-100" src="~/image/ou/create_hotel_image.png" alt="..." />
                    </div>
                </div>

                <div class="reminder__background">
                    <div class="reminder__background__text">小提醒：房源上架後仍可管理照片。您可以先從最簡單的開始，並隨時更改或新增內容。</div>
                </div>

                <div class="mb-5">
                    <h4 class="fw-bold mt-5">飯店照片</h4>
                    <p>建築外觀、停車位、入口，以及任何其他開放使用的設施</p>

                    <div class="file__upload">
                        <div id="uploadSection">
                            <img src="~/image/ou/upload.png" alt="..." />
                            <div class="fw-bold">請將照片拖放至此</div>
                            <p>僅限JPG和PNG格式（上限5 MB）</p>
                            <input type="file" id="fileInput" accept=".jpg,.png" multiple style="display: none;" />
                            <button id="uploadButton">選擇照片</button>
                        </div>
                    </div>
                    <div class="container" id="preview"></div>
                </div>

                <div class="mb-5">
                    <h4 class="fw-bold mt-5">名字</h4>
                    <p>住宿單位裡的臥室、浴室、廚房、用餐區域和起居空間。</p>
                    <div class="file__upload">
                        <div id="uploadSection">
                            <img src="~/image/ou/upload.png" alt="..." />
                            <div class="fw-bold">請將照片拖放至此</div>
                            <p>僅限JPG和PNG格式（上限5 MB）</p>
                            <input type="file" id="fileInput" accept=".jpg,.png" multiple style="display: none;" />
                            <button id="uploadButton">選擇照片</button>
                        </div>
                    </div>
                    <div class="container" id="preview"></div>
                </div>

            </div>

            @*   button *@
            <div class="d-flex justify-content-end my-5">
                <button type="button" class="btn_previous">上一步</button>
                <button type="button" class="btn_next">開始上線銷售！</button>
            </div>

        </div>
    </section>
</main>




@section Styles {
    <link rel="stylesheet" href="~/ou/css/UploadImage.css" />

}
@section Scripts {
    <script>

        $(document).ready(() => {

            const maxTotalSize = 5 * 1024 * 1024; // 5MB
            let totalSize = 0;
            let filenames = new Set();
            const uploadSection = $('.file__upload');

            $('#uploadButton').on('click', function () {
                $('#fileInput').trigger('click');
            });


            $('#fileInput').on('change', async function (e) {

                const allowedTypes = ['image/jpeg', 'image/png'];
                const files = Array.from(e.target.files);

                const fileInput = $('#fileInput');
                let newSize = 0;

                files.forEach((file, index) => {


                    if (!allowedTypes.includes(file.type)) {
                        alert('只允許上傳 JPG 和 PNG 格式的圖片');
                        return;
                    }

                    if (filenames.has(file.name)) {
                        alert(`檔名 ${file.name} 已存在，請選擇不同的檔案。`);
                        return;
                    }

                    newSize += file.size;
                    if (totalSize + newSize > maxTotalSize) {
                        alert('所有照片加起來不能超過 5MB。');
                        return;
                    }

                    const reader = new FileReader();

                    reader.onload = function (e) {

                        const string = `
                                    <div class="card">
                                                <img src="${e.target.result}" class="card-img-top h-100" alt="..." data-file-name="${file.name}" data-file-size="${file.size}">
                                        <div class="card-body">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>請選擇標題</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <button class="btn btn-danger delete-button" style="display: none;">刪除照片</button>
                                    </div>
                                `;

                        $('#preview').append(string);
                        // 當所有文件都讀取完畢後，改變樣式、儲存fileName到set及計算儲存的容量
                        if (index === files.length - 1) {

                            uploadSection.removeClass('file__upload').addClass('uploaded');

                            files.forEach(f => filenames.add(f.name));
                            totalSize += newSize;

                            fileInput.val('');
                        }
                    };

                    reader.readAsDataURL(file);
                });

            });


            $('#preview').on('mouseover', '.card', function () {
                $(this).find('.delete-button').css('display', 'block');
            });

            $('#preview').on('mouseout', '.card', function () {
                $(this).find('.delete-button').css('display', 'none');
            });

            $('#preview').on('click', '.delete-button', function () {
                const card = $(this).closest('.card');
                const imgElement = card.find('img');
                const fileName = imgElement.data('file-name');
                const fileSize = parseInt(imgElement.data('file-size'), 10);

                filenames.delete(fileName);
                totalSize -= fileSize;

                if (confirm('確定要刪除這張圖片嗎？')) {
                    card.remove();
                }

                if (filenames.size === 0) {
                    uploadSection.removeClass('uploaded').addClass('file__upload');
                }

            });
             
        });

    </script>
}
