
@{
    ViewData["Title"] = "cartItems";
    // layout等大家
}

<main>
    <section class="cartLists">
        <div class="cartLists-title">
            <h3 class="cartLists-title-font">您的購物車(2)</h3>
        </div>
        <div class="cartRoom">
            <div class="cartRoom-basicInfo">
                <div class="cartRoom-basicInfo-image">
                    <img class="cartRoom-basicInfo-image-img" src="https://pix8.agoda.net/hotelImages/445007/-1/9498d2a3865159bceb3899bb59330f5e.jpg?ce=0&s=828x464&ar=16x9" alt="">
                </div>

                <div class="cartRoom-basicInfo-content">
                    <span>沃客商旅正義館 (Walker Hotel ZhengYi)</span>
                    <div class="cartRoom-basicInfo-content-div2"><div class="cartRoom-basicInfo-content-icon-star"><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </div>  <i class="fa-solid fa-earth-americas"></i> <span>台北市</span></div>
                    <div class="cartRoom-basicInfo-content-div3"> <div class="cartRoom-basicInfo-content-icon"><span class="cartRoom-basicInfo-content-icon-number">7</span></div> <span class="cartRoom-basicInfo-content-icon-comment">很好</span> <span class="cartRoom-basicInfo-content-icon-count">5,688篇評鑑</span></div>
                </div>
                <div class="trash-can"><button class="trash-can-btn"><i class="fa-solid fa-lg fa-trash-can"></i></button></div>
            </div>
            <div class="cartRoom-bookingInfo">
                <div class="cartRoom-bookingInfo-div1">
                    <label for=""><input type="checkbox" name=""><span>1 x 經濟雙人房</span></label>
                </div>
                <div class="cartRoom-bookingInfo-div2">
                    <span>2024年7月18日</span><span>-</span><span>2024年7月19日</span>
                </div>
                <div class="cartRoom-bookingInfo-div3">
                    <i class="fa-solid fa-users"></i> <span>住客人數</span><span>  </span><span>2位大人</span>
                </div>
                <div class="cartRoom-bookingInfo-div4">
                    <span>NT $</span> <span>1,013</span>
                </div>
                <div class="cartRoom-bookingInfo-div5">
                    包含稅金及附加費用
                </div>
            </div>
        </div>

        <div class="cartRoom">
            <div class="cartRoom-basicInfo">
                <div class="cartRoom-basicInfo-image">
                    <img class="cartRoom-basicInfo-image-img" src="https://pix8.agoda.net/hotelImages/445007/-1/9498d2a3865159bceb3899bb59330f5e.jpg?ce=0&s=828x464&ar=16x9" alt="">
                </div>

                <div class="cartRoom-basicInfo-content">
                    <span>沃客商旅正義館 (Walker Hotel ZhengYi)</span>
                    <div class="cartRoom-basicInfo-content-div2"><div class="cartRoom-basicInfo-content-icon-star"><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </div>  <i class="fa-solid fa-earth-americas"></i> <span>台北市</span></div>
                    <div class="cartRoom-basicInfo-content-div3"> <div class="cartRoom-basicInfo-content-icon"><span class="cartRoom-basicInfo-content-icon-number">7</span></div> <span class="cartRoom-basicInfo-content-icon-comment">很好</span> <span class="cartRoom-basicInfo-content-icon-count">5,688篇評鑑</span></div>
                </div>
                <div class="trash-can"><button class="trash-can-btn"><i class="fa-solid fa-lg fa-trash-can"></i></button></div>
            </div>
            <div class="cartRoom-bookingInfo">
                <div class="cartRoom-bookingInfo-div1">
                    <label for=""><input type="checkbox" name=""><span>1 x 經濟雙人房</span></label>
                </div>
                <div class="cartRoom-bookingInfo-div2">
                    <span>2024年7月18日</span><span>-</span><span>2024年7月19日</span>
                </div>
                <div class="cartRoom-bookingInfo-div3">
                    <i class="fa-solid fa-users"></i> <span>住客人數</span><span>  </span><span>2位大人</span>
                </div>
                <div class="cartRoom-bookingInfo-div4">
                    <span>NT $</span> <span>1,013</span>
                </div>
                <div class="cartRoom-bookingInfo-div5">
                    包含稅金及附加費用
                </div>

            </div>
        </div>

        <div class="cartRoom">
            <div class="cartRoom-basicInfo">
                <div class="cartRoom-basicInfo-image">
                    <img class="cartRoom-basicInfo-image-img" src="https://pix8.agoda.net/hotelImages/445007/-1/9498d2a3865159bceb3899bb59330f5e.jpg?ce=0&s=828x464&ar=16x9" alt="">
                </div>

                <div class="cartRoom-basicInfo-content">
                    <span>沃客商旅正義館 (Walker Hotel ZhengYi)</span>
                    <div class="cartRoom-basicInfo-content-div2"><div class="cartRoom-basicInfo-content-icon-star"><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </div>  <i class="fa-solid fa-earth-americas"></i> <span>台北市</span></div>
                    <div class="cartRoom-basicInfo-content-div3"> <div class="cartRoom-basicInfo-content-icon"><span class="cartRoom-basicInfo-content-icon-number">7</span></div> <span class="cartRoom-basicInfo-content-icon-comment">很好</span> <span class="cartRoom-basicInfo-content-icon-count">5,688篇評鑑</span></div>
                </div>
                <div class="trash-can"><button class="trash-can-btn"><i class="fa-solid fa-lg fa-trash-can"></i></button></div>
            </div>
            <div class="cartRoom-bookingInfo">
                <div class="cartRoom-bookingInfo-div1">
                    <label for=""><input type="checkbox" name=""><span>1 x 經濟雙人房</span></label>
                </div>
                <div class="cartRoom-bookingInfo-div2">
                    <span>2024年7月18日</span><span>-</span><span>2024年7月19日</span>
                </div>
                <div class="cartRoom-bookingInfo-div3">
                    <i class="fa-solid fa-users"></i> <span>住客人數</span><span>  </span><span>2位大人</span>
                </div>
                <div class="cartRoom-bookingInfo-div4">
                    <span>NT $</span> <span>1,013</span>
                </div>
                <div class="cartRoom-bookingInfo-div5">
                    包含稅金及附加費用
                </div>

            </div>
        </div>

    </section>

    <section class="totalPrice">
        <div class="cartCheck-container p-2 border border-1 rounded ">
            <div class="cartCheck-container-div1 d-flex justify-content-between">
                <div>總價</div>
                <div class="text-danger fw-bolder fs-5">NT$ 1,784</div>
            </div>
            <div class="cartCheck-container-div2">
                <div><span>2項</span>（含稅及其他費用）</div>
            </div>
            <div class="d-grid gap-2 mt-3 ">
                <button class="btn btn-primary rounded-pill" type="button">繼續預定</button>
            </div>
        </div>

        <div class="cartCheck-container-2 p-2 border border-1 rounded ">
            <div class="cartCheck-container-div1 d-flex justify-content-between">
                <div>總價</div>
            </div>
            <div class="cartCheck-container-div2">
                <div>尚未選擇</div>
            </div>
            <div class="d-grid gap-2 mt-3 ">
                <button class="btn btn-light rounded-pill" type="button">繼續預定</button>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e5eef540c2.js" crossorigin="anonymous"></script>
</main>

@section Styles {
    <link href="~/ou/css/cartItems.css" rel="stylesheet" />
}
@section Scripts {
    <script>

    </script>
}