* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6F7F9;
}

main {
  display: flex;
  flex-grow: 1;
  max-width: 1240px;
  margin: 0 auto;
}

.cartLists {
  margin: 0 auto;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0%;
  margin: 24px 16px 0 0;
}

.totalPrice {
  margin: 0 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin: 24px 0 0 0;
  position: relative;
}

.cartLists-title {
  border: 1px solid #D5D9E2;
  border-radius: 4px;
  margin-bottom: 16px;
  width: 90%;
  margin: 0 auto;
}

.cartLists-title-font {
  line-height: 40px;
  padding: 8px;
  font-size: 24px;
}

.cartRoom {
  border: 1px solid #D5D9E2;
  border-radius: 4px;
  width: 90%;
  margin: 16px auto;
}

.cartRoom-basicInfo {
  padding: 5px 5px 0 5px;
  display: flex;
  position: relative;
}

.cartRoom-basicInfo-image-img {
  width: 80px;
  height: 92px;
  object-fit: cover;
  border-radius: 3px;
}

.cartRoom-basicInfo-content {
  margin-left: 1em;
}

.cartRoom-basicInfo-content-icon {
  display: inline-block;
  text-align: center;
  line-height: 25px;
  margin: 10px 5px 0 0;
  height: 25px;
  width: 25px;
  background-color: rgb(62, 108, 234);
}

.cartRoom-basicInfo-content-div3 {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
}

.cartRoom-basicInfo-content-icon-number {
  color: white;
}

.cartRoom-basicInfo-content-icon-comment {
  font-size: 10px;
  color: #3E6CEA;
  display: block;
  margin-right: 5px;
}

.cartRoom-basicInfo-content-icon-count {
  font-size: 15px;
  color: #707070;
}

.cartRoom-basicInfo-content-div2 {
  margin-top: 8px;
}

.cartRoom-basicInfo-content-icon-star {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.trash-can {
  position: absolute;
  right: 15px;
  top: 15px;
}

.trash-can-btn {
  all: unset;
  cursor: pointer;
}

.cartRoom-bookingInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid #D5D9E2;
  padding: 5px;
  font-size: 0.8em;
  background-color: #EBF0FC;
}

.cartRoom-bookingInfo-div4 {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-weight: 800;
  font-size: 1.5em;
}

.cartRoom-bookingInfo-div4 :first-child {
  font-size: 0.3em;
  margin-right: 2px;
}

.cartRoom-bookingInfo-div5 {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  color: #6B7388;
}

.cartCheck-container-div2 {
  font-size: 12px;
  color: rgb(112, 112, 112);
}

.cartCheck-container {
  position: fixed;
  top: 100px;
  z-index: 99;
  width: 408px;
}

.emptyCart {
  text-align: center;
  margin-top: 100px;
}

.emptyCart img {
  width: 200px;
}

#noprice {
  background-color: #FFFFFF;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px 2px;
  background-color: #F6F7F9;
}
nav .logo {
  margin-left: 3em;
}
nav .logo img {
  width: 12%;
}
nav .user-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 3em;
}
nav .user-container button {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: black;
}
nav .user-container button .avatar {
  background-color: #7d4bcb;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-right: 10px;
}
nav .user-container button span {
  margin-right: 10px;
}
nav .user-container button i {
  color: black;
}
nav .modal {
  display: none;
  position: absolute;
  top: 8%;
  left: 78%;
  z-index: 999;
}
nav .modal .modal-arrow {
  position: absolute;
  top: 2px;
  left: 250px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fefefe;
}
nav .modal .modal-content {
  background-color: #fefefe;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #FFFFFF;
  width: 100%;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
nav .modal .logout-button {
  background-color: #FFFFFF;
  color: #87B3FB;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #87B3FB;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}
nav .modal .logout-button:hover {
  background-color: #87B3FB;
  color: #FFFFFF;
}

.yellowStar {
  color: #ECC43A;
}
