* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FCFCFC;
}

.hotelCardSingle {
  width: 100%;
  height: 120px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 1px solid #E5E6E8;
}
.hotelCardSingle__img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 3px;
  margin: 5px;
}
.hotelCardSingle .active-status, .hotelCardSingle .review-status {
  border: 1px solid #E7F9F0;
  padding: 2px 6px;
  background-color: #E7F9F0;
  color: #528C20;
  font-weight: 800;
  font-size: 14px;
  border-radius: 3px;
}
.hotelCardSingle .review-status {
  background-color: #F9F1E7;
  color: red;
}
.hotelCardSingle__info {
  border-bottom: 1px solid #E5E6E8;
}
.hotelCardSingle__info .city, .hotelCardSingle__info .country {
  font-size: 14px;
  color: #777777;
}
.hotelCardSingle__connect a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  font-weight: 800;
  color: #1174A6;
  padding: 0 10px;
  position: relative;
}
.hotelCardSingle__connect a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 2px;
  background-color: #1174A6;
}

.left-section {
  width: 15%;
  height: 100%;
  position: sticky;
  height: 100vh;
  top: 0;
  border-right: 1px solid #e5e5e5;
  z-index: 100;
}
.left-section .left-section-items {
  /* width: 80%;*/
  margin-left: 10px;
  text-align: left;
}
.left-section .left-section-items div {
  margin: 10px 0 10px 5px;
}
.left-section .left-section-items a {
  display: block;
  text-decoration: none;
  padding: 5px 0;
  color: #555555;
  font-size: 14px;
}
.left-section .left-section-items a:hover {
  background-color: #efefef;
}
.left-section .left-section-items a.active {
  position: relative;
  background-color: #efefef;
  font-weight: 900;
}
.left-section .left-section-items a.active::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #1174A6;
}

.right-section {
  width: 85%;
  background-color: #f7f7f7;
}
.right-section .container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  height: 100%;
}
.right-section .container .panel {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
  padding: 15px 15px 30px 15px;
}
.right-section .container .address {
  width: 66%;
}
.right-section .container .custom-radio {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}
.right-section .container .custom-radio:checked {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.right-section .container .custom-radio:checked::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007bff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right-section .container .alertMessage {
  color: red;
  font-size: 12px;
}

.btn_previous {
  min-width: 180px;
  min-height: 42px;
  color: #1174a6;
  background-color: #fff;
  border: 1px solid #1174a6;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
}

.btn_previous:hover {
  background-color: #E6E6E6;
}

.btn_next {
  min-width: 180px;
  min-height: 42px;
  padding: 10px 15px;
  color: #fff;
  background-color: #1174a6;
  border: 1px solid #1174a6;
  font-weight: 600;
  font-size: 14px;
  border-radius: 3px;
  padding: 10px 15px;
  margin-left: 5px;
}

.btn_next:hover {
  background-color: #0C5478;
}
