@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F5F5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px 2px;
  background-color: #FFFFFF;
}

.md-stepper-horizontal {
  display: table;
  width: 70%;
  background-color: #FFFFFF;
}

.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 12px;
}

.md-stepper-horizontal .md-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.md-stepper-horizontal .md-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display: none;
}

.md-stepper-horizontal .md-step .md-step-circle {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
}

.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00AE4D;
}

.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  background-color: #5392F9;
}

.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: rgb(33, 150, 243);
}

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none;
}

.md-stepper-horizontal .md-step .md-step-title {
  font-size: 14px;
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
  text-align: center;
  color: rgba(0, 0, 0, 0.26);
}

.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
}

.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-optional {
  font-size: 12px;
}

.md-stepper-horizontal .md-step.active .md-step-optional {
  color: rgba(0, 0, 0, 0.54);
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 24px;
  height: 1px;
  border-top: 4px solid #DDDDDD;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 48%;
  margin-left: 20px;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 48%;
  margin-right: 20px;
}

.md-stepper-horizontal .md-step.active-step .md-step-bar-left,
.md-stepper-horizontal .md-step.active-step .md-step-bar-right {
  border-top: 4px solid #5392F9;
}

.logo img {
  width: 7vw;
}

main {
  display: flex;
  flex-grow: 1;
  max-width: 1240px;
  margin: 0 auto;
}

.left-section {
  height: 500px;
  margin: 0 auto;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0%;
  margin: 24px 16px 0 0;
}

.right-section {
  height: 500px;
  margin: 0 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin: 24px 0 0 0;
  position: relative;
}

.contact-info {
  border: 1px solid #c1cbe0;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.contact-info-label label {
  font-size: 12px;
}

.user-info {
  border: 1px solid #c1cbe0;
  border-radius: 15px;
  margin-top: 1em;
  padding: 1em;
  background-color: #FFFFFF;
}

.user-info hr {
  height: 0.5px;
  margin: 1.5em 5px;
}

.reservation-container-info {
  border: 1px solid #c1cbe0;
  border-radius: 0 0 0 0;
  padding: 0.7em;
  background-color: #FFFFFF;
}

.reservation-container-title {
  border-radius: 8px 8px 0 0;
  border-top: 1px solid #c1cbe0;
  border-left: 1px solid #c1cbe0;
  border-right: 1px solid #c1cbe0;
  border-bottom: none;
  background-color: rgb(243, 249, 242);
  font-size: 20px;
  line-height: 45px;
  font-weight: 500;
  padding: 0 0.5em;
}

.payment-detail {
  border: 1px solid #c1cbe0;
  padding: 1em;
  background-color: #FFFFFF;
}

.reservation-container-info-img {
  width: 80px;
  height: 92px;
  object-fit: cover;
  border-radius: 3px;
}

.reservation-container-info-score {
  display: inline-block;
  text-align: center;
  line-height: 25px;
  margin: 10px 5px 0 0;
  height: 25px;
  width: 25px;
  background-color: rgb(62, 108, 234);
  color: aliceblue;
}

.returnBack {
  border-radius: 20px;
  background-color: #5392F9;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  color: #FFFFFF;
}

.returnBack:hover {
  opacity: 0.7;
  color: #FFFFFF;
}

.peopleLimit {
  font-size: 15px;
}

.taxText {
  font-size: 10px;
  color: grey;
}

.commentsCount {
  font-size: 10px;
  color: grey;
}

.user-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 3em;
}
.user-container button {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.user-container button .avatar {
  background-color: #7d4bcb;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-right: 10px;
}
.user-container button span {
  margin-right: 10px;
}
.user-container button i {
  color: black;
}

.modal {
  display: none;
  position: absolute;
  top: 8%;
  left: 78%;
  z-index: 999;
}
.modal .modal-arrow {
  position: absolute;
  top: 2px;
  left: 250px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fefefe;
}
.modal .modal-content {
  background-color: #fefefe;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #FFFFFF;
  width: 100%;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.modal .logout-button {
  background-color: #FFFFFF;
  color: #87B3FB;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #87B3FB;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}
.modal .logout-button:hover {
  background-color: #87B3FB;
  color: #FFFFFF;
}

.loading-background {
  background-color: rgba(245, 245, 245, 0.8); /* 半透明背景色 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
